@use "sass:map";
@use "sass:math";
@use "../../global/acms-common" as acms;
@use "../../global/common" as global;

/* ------------------------------
 引用
------------------------------ */

/* 閲覧側の左右グリッド調整 */
@include acms.editor-style(
  (blockquote),
  $exclude-classes: ("not-editor-style", "column-block-editor"),
  $extension-contexts: (),
) {
  margin-inline: calc(var(--unit-gutter-var) / 2);
}

@include acms.editor-style("blockquote") {
  padding: var(--entry-el-padding-sm);
  font-size: map.get(global.$font-scales, body-m);
  line-height: var(--line-height-lg);
  border: var(--border-width-md) solid var(--color-gray30);
  margin-block: 0 var(--entry-el-margin-md);

  /* リセット用 */
  margin-inline: 0;

  /* ブロックエディタ調整：リセット用 */
  & > * {
    margin-block: 0;
  }

  /* ブロックエディタ調整 */
  * + * {
    margin-block-start: 1rem;
  }

  a {
    color: var(--color-link);
    text-decoration: none;
    border-bottom: var(--border-width-sm) dotted var(--color-link);
    padding-block: 2px;

    &:hover {
      border-color: transparent;
    }

    /* 中に画像が入っているリンクの時 */
    &:has(img) {
      display: inline-block;
      border-bottom: 0; /* リセット用 */
      transition: opacity 0.2s ease;
      padding-block: 0; /* リセット用 */

      &:hover {
        opacity: 0.7;
      }
    }
  }

  img {
    width: 100%;
  }

  strong {
    /* リセット用 */
    background: transparent;
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    margin-bottom: var(--entry-el-margin-lg);
    padding: var(--entry-el-padding-md);
  }
}

/* 引用URLユニット
------------------------------ */
[class*="column-quote-"] {
  .quote {
    padding: 0;
    border: 0;
  }

  .quote-link {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: var(--color-text);
    text-decoration: none;
    border: var(--border-width-sm) solid var(--color-gray30);
    border-radius: var(--border-radius-lg);

    &:hover {
      background: var(--color-hover-bg);
    }
  }

  .quote-info {
    margin: 0; /* リセット */
    padding: 1rem;
  }

  .quote-site-name {
    margin: 0;
    color: var(--color-text);
    font-size: map.get(global.$font-scales, body-ss);
  }

  .quote-title {
    margin: 0 0 0.5rem;
    overflow: hidden;
    font-weight: bold;
    font-size: map.get(global.$font-scales, body-m);
    line-height: var(--line-height-sm);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .quote-description {
    display: -webkit-box;
    margin: 0;
    overflow: hidden;
    font-size: map.get(global.$font-scales, body-s);
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    .quote-link {
      flex-direction: row;
    }

    .quote-img-wrap {
      flex: 1 0 auto;
      box-sizing: border-box;
      width: math.div(100%, 3);
      padding: 0;
    }

    .quote-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .quote-info {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      box-sizing: border-box;
      width: math.div(2, 3);
      padding: 1rem;
      overflow: hidden;
    }

    .quote-title {
      margin: 0;
      overflow: hidden;
      font-weight: bold;
      font-size: map.get(global.$font-scales, heading-ss);
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }
}
