{
  "root": true,
  "env": {
    "browser": true
  },
  "parser": "@babel/eslint-parser",
  "extends": [
    "airbnb"
  ],
  "plugins": ["@babel"],
  "globals": {
    "document": true,
    "window": true,
    "event": true,
    "$": true,
    "ACMS": true,
    "jQuery": true
  },
  "rules": {
    "template-curly-spacing": ["off", "never"],
    "indent": ["error", 2, {
      "ignoredNodes": ["TemplateLiteral"]
    }]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.prod.js"
      }
    }
  }
}
