@use "sass:map";
@use "../global/acms-common" as acms;
@use "../global/common" as global;

/* ------------------------------
　　物件情報
------------------------------ */

/* 物件詳細
----------------------------- */
.realestate-map-entry {
  position: relative;
  z-index: 0;
  margin: 0 0 var(--entry-el-margin-md);
  overflow: hidden;
  border-radius: var(--border-radius-lg);

  .js-open-street-map {
    height: 320px;
  }
}

.realestate-images {
  img {
    border-radius: var(--border-radius-lg);
  }
}
