<!DOCTYPE html>
<html class="no-js" lang="ja">
  <head>
    @section("head-meta")
    @include("/include/head/meta.html")
    @endsection

    @section("head-link")
    @include("/include/head/link.html")
    @endsection

    @section("head-js")
    @include("/include/head/js.html")
    @endsection
  </head>

  <body>
    @section("body-start")
    @include("/include/body-start.html")
    @endsection

    <div class="page-wrapper">
      @section("header")
      @include("/include/header/header.html")
      <!-- @include("/include/header/header-logo-center.html") -->
      <!-- @include("/include/header/header-nav-bottom.html") -->
      @endsection

      @section("page-title")
      @include("/include/parts/page-title/blog-name.html")
      @endsection

      @section("topicpath")
      @include("/include/parts/topicpath.html")
      @endsection

      @section("admin-part")
      <!-- BEGIN_MODULE Touch_Login -->
      <!-- ※管理用パーツ -->
      <div class="acms-container">
        @include("/admin/action.html")
        @include("/admin/switch-user.html")
      </div>
      <!-- END_MODULE Touch_Login -->
      @endsection

      <div class="acms-container js-pretty-scroll-container">
        <div class="content-wrapper two-columns">
          <div class="main-container">
            <main>
              @section("main")
              <p>継承してメインコンテンツを設定してください</p>
              @endsection
            </main>
          </div>
          <div class="side-container">
            <div class="js-pretty-scroll">
              <div class="section-side-layout">
                @section("side")
                @endsection
              </div>
            </div>
          </div>
        </div>
      </div>

      @section("check-seo")
      <!-- BEGIN_MODULE Touch_SessionWithAdministration -->
      <!-- meta情報確認 -->
      <div class="acms-mt-8">
        @include("/include/check-seo.html")
      </div>
      <!-- END_MODULE Touch_SessionWithAdministration -->
      @endsection

      @section("footer-cta")
      <!-- BEGIN_MODULE Touch_NotEdit -->
      <!-- Call to Action -->
      @include("/include/parts/cta-visual.html", {"cta-section-mt": "true"})
      <!-- END_MODULE Touch_NotEdit -->
      @endsection

      @section("footer")
      @include("/include/footer/footer.html")
      @endsection
    </div>

    @section("body-end")
    @include("/include/body-end.html")
    @endsection
  </body>
</html>
