<!-- BEGIN_MODULE Touch_NotEdit -->
<!-- BEGIN_MODULE Module_Field -->
<section class="cta-visual-section">
  <div class="cta-visual js-animation<!-- BEGIN cta_size:veil --> is-{cta_size}<!-- END cta_size:veil --><!-- BEGIN_IF [{{enable_margin_top}}/eq/true] --> is-cta-margin-top<!-- END_IF --> not-editor-style"<!-- BEGIN cta_bg_image:veil  --> style="background-image: url(%{MEDIA_ARCHIVES_DIR}{cta_bg_image@path});"<!-- END cta_bg_image:veil  -->>
    @include("/include/edit/module-custom-box2.html")

    <div class="acms-container">
      <!-- BEGIN cta_comment:veil  -->
      <p class="cta-visual-comment">{cta_comment}</p><!-- END cta_comment:veil  --><!-- BEGIN cta_lead:veil  -->
      <h2 id="mf_cta_visual" class="cta-visual-title">{cta_lead}[nl2br]</h2><!-- END cta_lead:veil  --><!-- BEGIN cta_description:veil  -->
      <p class="cta-visual-text">{cta_description}[nl2br]</p><!-- END cta_description:veil  -->
      <!-- BEGIN_IF [{btn_text}/nem/_and_/{btn_url}/nem] -->
      <p class="cta-visual-read-more"><a href="{btn_url}[buildGlobalVars]" class="button is-width-lg">{btn_text}</a></p><!-- END_IF -->
    </div>
  </div>
</section>
<!-- END_MODULE Module_Field -->
<!-- END_MODULE Touch_NotEdit -->
