<!-- BEGIN_MODULE Touch_NotEdit -->
<!-- BEGIN_MODULE Module_Field id="{{module_id}}" -->
<section class="cta js-animation not-editor-style {section-class}">
  <div class="acms-container">
    <header class="section-vertical-header">
      <h2 id="summary_blog" class="section-vertical-heading">{module-heading}</h2>
      <p class="section-vertical-text">{module-heading-small}</p>
    </header>
    @include("/include/edit/module-custom-box2.html")
    <div class="cta-general"><!-- BEGIN cta-lead:veil -->
      <h2 class="cta-general-title">{cta-lead}[raw|nl2br]</h2><!-- END cta-lead:veil -->
      <!-- BEGIN_IF [{btn-text}/nem/_and_/{btn-url}/nem] -->
      <p class="cta-general-button-wrap"><a href="{btn-url}[buildGlobalVars]" class="button is-shadow is-xl js-viewing-indelible">{btn-text}</a></p><!-- END_IF -->
      <!-- BEGIN cta-micro-copy:veil -->
      <p class="cta-general-micro-copy">{cta-micro-copy}[raw]</p><!-- END cta-micro-copy:veil -->
    </div>
  </div>
</section>
<!-- END_MODULE Module_Field --><!-- END_MODULE Touch_NotEdit -->
