@use "../global/acms-common" as acms;
@use "../global/common" as global;

/* ------------------------------
 グループユニット
------------------------------ */
.#{acms.$entry-class} {
  .gu-bg-gray {
    padding: var(--entry-el-padding-md) var(--entry-el-padding-xs);
    margin: 0 0 var(--entry-el-margin-md) 0;
    background: var(--color-gray10);
    border-radius: var(--border-radius-lg);

    > *:not(.not-editor-style):first-child,
    > *:first-child.column-block-editor > *:first-child {
      margin-top: 0;
    }

    > *:not(.not-editor-style):last-child,
    > *:last-child.column-block-editor > *:last-child {
      margin-bottom: 0;
    }
  }

  .gu-narrow {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
