@use "../global/acms-common" as acms;
@use "../global/common" as global;

/* ------------------------------
 ユニットグループ
------------------------------ */
.#{acms.$entry-class} {
  /* 全てのユニットグループ */
  [class*="gu-"] {
    overflow: hidden;

    >  h2,
    >  h3,
    >  h4 {
      padding-top: 0;
    }
  }

  .gu-bg-gray {
    margin: 0 0 var(--entry-el-margin-md) 0;
    padding: var(--entry-el-padding-md) calc(var(--entry-el-padding-md) - (var(--unit-gutter-var) / 2));
    background: var(--color-gray10);

    & > *:not(.entry-reset):last-child {
      margin-bottom: 0;
    }
  }

  @include acms.media-breakpoint-up(md) {
    .gu-bg-gray {
      margin: 0 0 var(--entry-el-margin-md) 0;
      padding: var(--entry-el-padding-md) calc(var(--entry-el-padding-md) - (var(--unit-gutter-var) / 2));

      & > *:not(.entry-reset):last-child {
        margin-bottom: 0;
      }
    }
  }
}
