@use "../global/acms-common" as acms;
@use "../global/common" as global;

/* ------------------------------
 ユニット全体のレイアウト（左右グリッド用マージン・ユニットグループ）
------------------------------ */
.#{acms.$entry-class}-grid { // .entry-style-grid
  margin-inline: calc(var(--unit-gutter-var) / -2);
}

/* エントリー内での各acms-col-の左右の幅 */
.#{acms.$entry-class} [class*='acms-col'] {
  padding-inline: calc(var(--unit-gutter-var) / 2);
}

/* ブロックエディター */
.column-block-editor {
  margin-inline: calc(var(--unit-gutter-var) / 2);
}

/* ユニットのコンテナ */
.entry-container {
  margin-inline: calc(var(--unit-gutter-var) / 2);
}

/* column-** ユニット 余白
------------------------------ */

/* 左右余白、box-sizing */
@each $unit in acms.$unit-types {
  .#{acms.$entry-class} [class*="column-#{$unit}"] {
    @if $unit == "map" {
      border-right: calc(var(--unit-gutter-var) / 2) solid transparent;
      border-left: calc(var(--unit-gutter-var) / 2) solid transparent;
      box-sizing: border-box;
    } @else if $unit == "quote" {
      margin-right: calc(var(--unit-gutter-var) / 2);
      margin-left: calc(var(--unit-gutter-var) / 2);
    } @else if $unit == "street-view" {
      &:not(.column-street-view-inner) {
        padding-right: calc(var(--unit-gutter-var) / 2);
        padding-left: calc(var(--unit-gutter-var) / 2);
      }
    } @else {
      padding-left: calc(var(--unit-gutter-var) / 2);
      padding-right: calc(var(--unit-gutter-var) / 2);
      box-sizing: border-box;
    }
  }
}
