<form action="" method="post" name="searchForm" class="form-search" role="search" aria-label="検索フォーム"
  hx-post="" hx-target="#summary_list" hx-swap="outerHTML" hx-push-url="true">
  <!-- BEGIN_IF [{{search-label}}/neq/off] -->
  <label for="searchForm-{{search-id}}" class="form-search-label">サイト内検索</label>
  <!-- END_IF -->
  <div class="form-search-action">
    <input type="search" id="search-{{search-id}}" name="keyword" value="%{KEYWORD}" size="15" class="form-search-input" placeholder="キーワードを入力"
           hx-get="/include/htmx/entry/summary-list.html" hx-trigger="keyup changed delay:500ms" hx-target="#summary_list" hx-push-url="true">
    <span class="form-search-side-button"><button type="submit" name="ACMS_POST_2GET_Ajax" class="button form-search-button">検索</button></span>
    <input type="hidden" name="bid" value="1">
    <input type="hidden" name="tpl" value="/include/htmx/entry/summary-list.html">
  </div>
</form>
