@charset "UTF-8";
/* stylelint-disable value-keyword-case */
/* stylelint-disable max-line-length */
/* stylelint-enable max-line-length */
/* ------------------------------
　　テキストユニットのエディターの設定
------------------------------ */
/* エントリー内ボタン */
.entryFormLiteEditor .text-word-break {
  display: inline-block;
}
.entryFormLiteEditor .text-word-break::after {
  margin: 0 2px;
  color: var(--color-gray40);
  content: "|";
}
.entryFormLiteEditor em {
  font-weight: normal;
  font-style: normal;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, var(--color-highlight)));
  background: linear-gradient(transparent 60%, var(--color-highlight) 60%);
}
.entryFormLiteEditor strong {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, var(--color-highlight)));
  background: linear-gradient(transparent 60%, var(--color-highlight) 60%);
}
.entryFormLiteEditor a {
  padding: 2px 0;
  color: var(--color-text);
  text-decoration: none;
}
.entryFormLiteEditor a:not(:has(img)) {
  border-bottom: 1px dotted var(--color-text);
}
.entryFormLiteEditor a:hover {
  border-color: transparent;
  text-decoration: none;
}

.acms-admin-table-admin-edit {
  border-collapse: collapse;
}
.acms-admin-table-admin-edit .sortable-item {
  border-top: 1px solid #ccc;
}
.acms-admin-table-admin-edit .sortable-item:first-child {
  border: 0;
}