@forward "../../../../system/src/scss/global/variables" with (
  $entry-class : entry-style,
  $breakpoint-sm-min    : 30rem,
  $breakpoint-md-min    : 48rem,
  $breakpoint-lg-min    : 64rem,
  $breakpoint-xl-min    : 90rem,
);
@forward "../../../../system/src/scss/global/mixins";
