<!-- BEGIN_MODULE Media_Banner id="banner_news" -->
<!-- BEGIN moduleField -->
<section class="section news-banner js-animation {section-class}">
  @include("/include/edit/module-custom-box2.html",{"hash":"#acms_box3"})
  <div class="acms-container">
    <header class="section-vertical-header">
      <h2 class="section-vertical-heading">{module-heading}</h2>
      <p class="section-vertical-text">{module-heading-small}</p>
    </header>
    <!-- END moduleField -->
    <div id="news-banner-carousel" class="splide" aria-label="最新情報のバナー">
      <div class="splide__track">
        <ul class="splide__list"><!-- BEGIN banner:loop -->
          <li class="splide__slide"><!-- BEGIN banner#src -->{src}[raw]<!-- END banner#src --><!-- BEGIN banner#img --><a href="{url}" target="{target}"><img src="%{MEDIA_ARCHIVES_DIR}{img}" width="{x}" height="{y}" alt="{alt}" class="acms-img-responsive"></a><!-- END banner#img -->
          </li><!-- END banner:loop -->
        </ul>
      </div>
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev">
          @include("/images/icon-button.svg")
        </button>
        <button class="splide__arrow splide__arrow--next">
          @include("/images/icon-button.svg")
        </button>
      </div>
    </div>
  </div>
</section>
<!-- END_MODULE Media_Banner -->
