@use "sass:map";
@use "../../global/acms-common" as acms;
@use "../../global/common" as global;

/* ------------------------------
 - メディアファイル
 - ファイル
 - ブロックエディタのファイル（縦積み、ボタン型）
------------------------------ */
.media-file-block,
:where(.acms-admin-block-editor-body) .node-fileBlock,
[class*="column-file"],
[class*="column-media"]:has(a[href*="media-download"]) {
  font-size: 0; /* Descender space 対策 */
  margin-block: 0 var(--entry-el-margin-md);
}

/* ボタン型
------------------------------ */

/* リンク */
.acms-admin-block-editor-file-link,
.media-file-block-link,
[class*="column-file"] a,
[class*="column-media"] a[href*="media-download"] {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem 1.5rem;

  /* リセット用 */
  text-decoration: none;
  background-color: var(--color-white);
  border: var(--border-width-sm) solid var(--color-gray40);
  border-radius: var(--border-radius-md);

  &:hover {
    opacity: 1; /* リセット */
  }
}

/* リンク（閲覧画面用） */
.media-file-block-link,
[class*="column-file"] a,
[class*="column-media"]:not(:has(.column-pdf-image)) a[href*="media-download"] {
  @media (hover: hover) {
    transition: background-color 0.2s ease;

    &:where(:any-link):hover {
      background-color: var(--color-gray20);
    }
  }
}

/* ファイルアイコン */
.acms-admin-block-editor-file-link img,
.media-file-block-link img,
[class*="column-media"] .columnIcon,
[class*="column-file"] .columnIcon {
  display: inline-block;
  width: 2rem;
  max-width: 100%;
  height: auto;
}

/* キャプションタイポグラフィ設定 */
.acms-admin-block-editor-file-link,
.media-file-block-link,
[class*="column-file"] .caption,
[class*="column-media"]:has(a[href*="media-download"]):has(.columnIcon) .caption {
  color: var(--color-text);
  font-size: map.get(global.$font-scales, body-m);
  line-height: var(--line-height-base);
}

/* ブロックエディタのファイルボタン型キャプションカラーリセット */
.acms-admin-block-editor-file-link,
.media-file-block-link {
  &:link,
  &:visited,
  &:hover {
    color: var(--color-text);
  }
}

/* キャプションレイアウトリセット */
.acms-admin-block-editor-file-link .caption,
.media-file-block-link .caption,
[class*="column-file"] .caption,
[class*="column-media"]:has(a[href*="media-download"]):has(.columnIcon) .caption {
  margin: 0;
}

/* PDFプレビュー
------------------------------ */

/* リンク */
[class*="column-media"]:has(.column-pdf-image) {
  a {
    display: inline-grid;
    gap: 0.25rem;
    justify-content: center;

    /* リンクスタイルリセット */
    padding: 0;
    border: 0;

    @media (hover: hover) {
      &:hover {
        .column-pdf-image {
          opacity: 0.7;
        }

        .caption {
          border-bottom-color: currentcolor;
        }
      }
    }
  }
}

.column-pdf-image {
  width: 100%;
  border: var(--border-width-sm) solid var(--color-gray40);
  transition: opacity 0.2s ease;
}

.column-pdf-image-caption-box {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin: 0;

  .columnIcon {
    width: 2rem;
  }

  .caption {
    margin: 0;
    color: var(--color-text-2nd);
    font-size: map.get(global.$font-scales, body-s);
    line-height: var(--line-height-sm);
    border-bottom: var(--border-width-sm) dotted transparent;
  }

  .column-pdf-image-download-icon {
    width: 20px;
  }
}

/* ブロックエディタのファイル（縦積み）
------------------------------ */

/* キャプション */
.media-file-block:not(:has(.media-file-block-link)) .caption,
.acms-admin-block-editor-file-caption,
p.acms-admin-block-editor-file-caption {
  display: block;
  margin: 4px 0 0;
  color: var(--color-text);
  font-size: map.get(global.$font-scales, body-m);
  line-height: var(--line-height-md);
}

.media-file-block:not(:has(.media-file-block-link)),
.acms-admin-block-editor-file:not(:has(.acms-admin-block-editor-file-link)) {
  text-align: center;

  img {
    width: 4.5rem;
    max-width: 100%;
    height: auto;
  }
}

/* リンク（閲覧画面用） */
.media-file-block:not(:has(.media-file-block-link)) a {
  /* リンクスタイルリセット */
  padding: 0;
  border: 0;

  @media (hover: hover) {
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}