@use "sass:map";
@use "../../global/acms-common" as acms;
@use "../../global/common" as global;

/* ------------------------------
 テーブル
------------------------------ */

/* ブロックエディターは ".tableWrapper" 内にあるテーブルを対象にする */
:where(.acms-admin-block-editor-body) .tableWrapper {
  th,
  td {
    min-width: 100px; /* 入力しやすいよう最小幅を確保 */
  }
}

@include acms.editor-style(
  ("table"),
  $extension-contexts: (".tableWrapper", '[class*="column-table"]'),
) {
  margin: 0 calc(var(--unit-gutter-var) / 2) var(--entry-el-margin-md);
  background-color: var(--color-white);
  border: 0; /* リセット用 */
  border-collapse: collapse;

  th,
  td {
    padding: var(--entry-el-padding-xs);
    font-size: map.get(global.$font-scales, body-m);
    line-height: var(--line-height-base);
    border: var(--border-width-sm) solid var(--color-gray30);
  }

  th {
    text-align: left;
    vertical-align: top;
    background-color: var(--color-gray10);
  }

  td {
    background-color: var(--color-white); /* リセット用 */
  }

  p {
    margin-block: 0;
  }

  a {
    color: var(--color-link);
    text-decoration: none;
    border-bottom: var(--border-width-sm) dotted var(--color-link);
    padding-block: 2px;

    &:hover {
      border-color: transparent;
    }
  }

  @include acms.media-breakpoint-up(md) {
    th,
    td {
      padding: var(--entry-el-padding-sm);
      font-size: map.get(global.$font-scales, body-m);
    }
  }
}

/* tableの左右marginが.entry-containerのpaddingと干渉しないようリセット */
.entry-container table {
  margin-inline: 0;
}

/* ブロックエディター内のテーブル */
.tableWrapper {
  margin-bottom: var(--entry-el-margin-md);
  overflow-x: auto; // 横スクロールする時用

  table {
    width: 100%;
    margin: 0;
  }
}

/* テーブルユニット */
[class*="column-table"] {
  .entry-container {
    clear: both;
    margin-block-end: var(--entry-el-margin-md);
    overflow-x: auto;
  }

  table {
    width: 100%;
    margin-block: 0;
  }
}

/* スクロールするテーブル */
.acms-table-scrollable,
.js-table-unit-scroll-hint,
.tableWrapper .js-table-unit-scroll-hint {
  th,
  td {
    white-space: nowrap;
    word-break: keep-all; // 横スクロールするテーブルの時は常時テキスト折り返しなし
  }
}
