@use "sass:map";
@use "../../global/acms-common" as acms;
@use "../../global/common" as global;

/* ------------------------------
 テキスト
------------------------------ */

/* 共通設定 */
@each $tag in acms.$unit-text-tags {
  /* テキストユニット（閲覧側）の左右グリッド調整 */
  @include acms.editor-style(
    ($tag),
    $exclude-classes: ("not-editor-style", "column-block-editor"),
    $extension-contexts: (),
  ) {
    margin-inline: calc(var(--unit-gutter-var) / 2);
  }

  /* リンク */
  @include acms.editor-style(
    ($tag),
    $extension-contexts: (".acms-admin-block-editor-body", ".entryFormLiteEditor"),
  ) {
    a {
      padding-block: 2px;
      color: var(--color-link);
      text-decoration: none;
      border-bottom: var(--border-width-sm) dotted var(--color-link);

      &:hover {
        border-color: transparent;
      }

      &[href^="tel:"] {
        color: currentcolor;
        border-bottom: var(--border-width-sm) dashed;

        &:hover {
          border-color: transparent;
        }
      }
    }
  }
}

/* インライン要素
----------------------------- */

/* 強調 */
@include acms.editor-style(
  ("em"),
  $extension-contexts: (".acms-admin-block-editor-body", ".entryFormLiteEditor"),
) {
  font-style: normal;
  background: linear-gradient(transparent 60%, var(--color-highlight) 60%);
}

/* 重要 */
@include acms.editor-style(
  ("strong"),
  $extension-contexts: (".acms-admin-block-editor-body", ".entryFormLiteEditor"),
) {
  font-weight: bold;
}

/* マーカー */
@include acms.editor-style(
  ("mark"),
  $extension-contexts: (".acms-admin-block-editor-body", ".entryFormLiteEditor"),
) {
  color: inherit;
  background-color: var(--color-highlight);
  border-radius: 0.125rem; /* 2px */
  box-decoration-break: clone;
  padding-block: 0.125rem;
}

/* コード */
@include acms.editor-style(
  ("code"),
  $exclude-classes: ("not-editor-style", "code-highlight"),
  $extension-contexts: (".acms-admin-block-editor-body", ".entryFormLiteEditor"),
) {
  margin-inline: 0.25rem;
  padding: 0.0.25rem;
  color: var(--color-primary);
  font-size: 87.5%;
  background-color: var(--color-white);
  border: var(--border-width-sm) solid currentcolor;
  border-radius: var(--border-radius-sm);
}

/* 単語区切り LiteEditor内での表示用 */
:where(.entryFormLiteEditor) {
  .text-word-break {
    display: inline-block;

    &::after {
      margin: 0 2px;
      color: var(--color-gray40);
      content: "|";
    }
  }
}

/* 見出し
----------------------------- */
@include acms.editor-style("h2") {
  margin-block: 0;
  padding-block: var(--entry-el-padding-md) var(--entry-el-padding-sm);
  font-size: map.get(global.$font-scales, heading-s);
  line-height: var(--line-height-base);

  &.heading-line {
    margin-bottom: var(--entry-el-margin-sm);
    padding-bottom: var(--entry-el-padding-xs);
    border-bottom: var(--border-width-md) solid var(--color-gray100);
  }

  &.heading-primary {
    position: relative;
    margin-bottom: var(--entry-el-margin-sm);

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 2em;
      height: var(--border-width-lg);
      background: var(--color-primary);
      content: "";
    }
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    font-size: map.get(global.$font-scales, heading-m);
  }
}

@include acms.editor-style("h3") {
  margin-block: 0;
  padding-block: var(--entry-el-padding-md) var(--entry-el-padding-sm);
  font-size: map.get(global.$font-scales, heading-ss);
  line-height: var(--line-height-base);

  &.heading-line {
    margin-bottom: var(--entry-el-margin-sm);
    padding-bottom: var(--entry-el-padding-xs);
    border-bottom: var(--border-width-md) solid var(--color-gray100);
  }

  &.heading-primary {
    position: relative;
    margin-bottom: var(--entry-el-margin-sm);

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 2em;
      height: var(--border-width-lg);
      background: var(--color-primary);
      content: "";
    }
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    font-size: map.get(global.$font-scales, heading-s);
  }
}

@include acms.editor-style("h4") {
  margin-block: 0;
  padding-block: var(--entry-el-padding-md) var(--entry-el-padding-sm);
  font-size: map.get(global.$font-scales, body-m);
  line-height: var(--line-height-base);

  &.heading-line {
    margin-bottom: var(--entry-el-margin-sm);
    padding-bottom: var(--entry-el-padding-xs);
    border-bottom: var(--border-width-md) solid var(--color-gray100);
  }

  &.heading-primary {
    position: relative;
    margin-bottom: var(--entry-el-margin-sm);

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 2em;
      height: var(--border-width-lg);
      background: var(--color-primary);
      content: "";
    }
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    font-size: map.get(global.$font-scales, heading-ss);
  }
}

/* 本文
----------------------------- */
@include acms.editor-style("p") {
  font-size: map.get(global.$font-scales, body-m);
  margin-block: 0 var(--entry-el-margin-md);
  line-height: var(--line-height-lg);

  /* 注釈 */
  &.text-info {
    color: var(--color-text-2nd);
    font-size: map.get(global.$font-scales, body-s);
  }

  /* 注意文 */
  &.text-danger {
    color: var(--color-error);
    font-size: map.get(global.$font-scales, body-s);
  }

  /* リード文1 */
  &.text-lead-primary {
    color: var(--color-primary);
    font-weight: bold;
    font-size: map.get(global.$font-scales, heading-s);
    line-height: var(--line-height-base);

    @media screen and (min-width: acms.$breakpoint-md-min) {
      margin-bottom: 3rem;
      font-size: map.get(global.$font-scales, heading-l);

      &.is-margin-small {
        margin-bottom: var(--entry-el-margin-xxs);
      }
    }
  }

  /* リード文2 */
  &.text-lead-info {
    color: var(--color-text-2nd);
    font-weight: bold;
    font-size: map.get(global.$font-scales, heading-s);
    line-height: var(--line-height-base);

    &.is-margin-small {
      margin-bottom: var(--entry-el-margin-xxs);
    }

    @media screen and (min-width: acms.$breakpoint-md-min) {
      margin-bottom: 3rem;
      font-size: map.get(global.$font-scales, heading-m);

      &.is-margin-small {
        margin-bottom: var(--entry-el-margin-xxs);
      }
    }
  }

  /* ボタン */
  &.text-btn a {
    display: inline-block;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    color: var(--color-white);
    font-weight: bold;
    font-size: map.get(global.$font-scales, body-m);
    text-align: center;
    text-decoration: none;
    background-color: var(--color-primary);
    border-bottom: 0; // リセット用
    border-radius: var(--border-radius-md);
    transition: background-color 0.2s ease;

    &,
    &:link,
    &:visited {
      color: var(--color-white);
    }

    &:hover {
      background-color: var(--color-primary-hover);
      opacity: 1;
    }

    &.outer-link {
      &::after {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-left: 0.5rem;
        vertical-align: baseline;
        background-color: var(--color-text-inverse);
        content: '';
        mask-image: url("#{global.$root-theme-img}icon-target_blank.svg");
        mask-size: contain;
      }
    }

    &[href^="tel:"] {
      color: var(--color-white);

      &:hover {
        border-color: transparent;
      }
    }
  }
}

/* 注釈や注意文が、隣り合った時、テーブルの下に来た時は上余白を詰めてまとまり感を出す */
// 注釈や注意文が 隣り合った時（閲覧画面、ブロックエディタの閲覧画面）
p + p.text-info,
p + p.text-danger,
p + p.text-info,
p + p.text-danger,
// ブロックエディタ用（管理画面 / 閲覧画面）
.tableWrapper + p.text-info,
.tableWrapper + p.text-danger,
// テーブルユニット用（閲覧画面）
[class*="column-table-"] + p.text-info,
[class*="column-table-"] + p.text-danger {
  margin-top: -1rem;
}

/* リスト
----------------------------- */
@include acms.editor-style("ul") {
  margin-block: 0 var(--entry-el-margin-md);
  padding-left: 1.875rem;

  li {
    position: relative;
    margin-bottom: 0.5rem;
    font-size: map.get(global.$font-scales, body-m);
    line-height: var(--line-height-lg);
    list-style: none;

    &::before {
      position: absolute;
      top: 0.5rem;
      left: -1.5rem;
      width: 0.5rem;
      height: 0.5rem;
      background: var(--color-secondary);
      border-radius: 50%;
      content: "";
    }

    &:last-child {
      margin-bottom: 0;
    }

    & > * {
      /* ブロックエディタ：リセット用 */
      margin-bottom: 0;
    }

    ul {
      margin-top: 0.5rem;
    }
  }
}

/* 番号付きリスト */
@include acms.editor-style("ol") {
  margin-block: 0 var(--entry-el-margin-md);
  padding-left: var(--entry-el-padding-md);
  counter-reset: order-list;

  li {
    position: relative;
    clear: both;
    margin-bottom: 0.5rem;
    font-size: map.get(global.$font-scales, body-m);
    line-height: var(--line-height-lg);
    list-style: none;

    &::before {
      position: absolute;
      top: 2px;
      left: -1.5rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 1rem 0 0;
      color: var(--color-text-2nd);
      font-weight: bold;
      border-radius: 50%;
      content: counter(order-list) '.';
      counter-increment: order-list;
    }

    &:last-child {
      margin-bottom: 0;
    }

    ol {
      margin-top: 0.5rem;
    }
  }
}

/* 記述リスト */
@include acms.editor-style("dl") {
  display: block; /* リセット用 */
  padding-block: 0; /* リセット用 */
  margin-block: 0 var(--entry-el-margin-md);
  border: 0; /* リセット用 */

  dt {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: map.get(global.$font-scales, body-m);
    line-height: var(--line-height-sm);
  }

  dd {
    margin-bottom: 1rem;
    margin-left: 0; /* リセット用 */
    font-size: map.get(global.$font-scales, body-m);
    line-height: var(--line-height-lg);
  }

  dd + dt {
    margin-top: 0; /* リセット用 */
  }

  &.box-bordered {
    border: var(--border-width-sm) solid var(--color-gray30);

    dt {
      padding-top: var(--entry-el-padding-sm);
      padding-inline: var(--entry-el-padding-sm);
      border-top: var(--border-width-sm) solid var(--color-gray30);

      &:first-child {
        border: 0;
      }
    }

    dd {
      margin-bottom: 0;
      padding-bottom: var(--entry-el-padding-sm);
      padding-inline: var(--entry-el-padding-sm);
    }

    @media screen and (min-width: acms.$breakpoint-md-min) {
      dt {
        padding-top: var(--entry-el-padding-md);
        padding-inline: var(--entry-el-padding-md);
      }

      dd {
        padding-bottom: var(--entry-el-padding-md);
        padding-inline: var(--entry-el-padding-md);
      }
    }
  }
}

/* ソースコード
----------------------------- */
.acms-admin-block-editor-body pre,
.code-highlight {
  max-width: 100%;
  padding: var(--entry-el-padding-sm);
  overflow: auto;
  color: var(--color-text); /* 閲覧側画面の文字色はライブラリに依存 */
  font-size: map.get(global.$font-scales, body-m);
  line-height: var(--line-height-lg);
  background-color: var(--color-white);
  border: var(--border-width-sm) solid var(--color-primary);
  border-radius: var(--border-radius-lg);
  margin-block: 0 var(--entry-el-margin-md);

  code {
    /* リセット用 */
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    background-color: inherit;
    border: none;
    box-shadow: none;
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    padding: var(--entry-el-padding-md);
  }
}

/* 水平罫線
----------------------------- */
@include acms.editor-style(
  ("hr"),
  $exclude-classes: ("not-editor-style", "clearHidden"),
) {
  margin-bottom: var(--entry-el-margin-md);
  border: 0 solid var(--color-gray70);
  border-top-width: var(--border-width-sm);

  @media screen and (min-width: acms.$breakpoint-md-min) {
    margin-bottom: var(--entry-el-margin-lg);
  }
}

/* ブロックエディタ用 */
[data-type="horizontalRule"] {
  margin-block: var(--entry-el-margin-md);

  hr {
    margin-block: 0;
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    margin-block: var(--entry-el-margin-md);

    hr {
      margin-block: 0;
    }
  }
}
