@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　バナー
------------------------------ */
.banner-list {
  padding: 0;
  list-style: none;

  .js .js-animation & {
    opacity: 0;
    will-change: transform, opacity;
  }

  .js .js-animation.is-show & {
    animation: fade-in 0.4s 0.5s 1 both;
  }
}

.banner-item {
  margin: 0 0 global.$col-gutter;
}

.banner-link {
  display: block;
  transition: 0.2s;

}

.banner-img {
  display: block;
  width: 100%;
  border-radius: global.$border-radius-lg;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);
  &:hover {
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20);

  }

}