@use "sass:map";
@use "sass:math";
@use "global/acms-common" as acms;
@use "global/common" as global;



#adminBox {
  margin-top: 20px;
}

/* ------------------------------
　　ベース
------------------------------ */
html {
  color: var(--color-text);
  font-family: var(--font-base);
  line-height: var(--line-height-lg);
  background: var(--color-white);
  scroll-behavior: smooth;

  @include acms.media-breakpoint-up(md) {
    scroll-padding-top: var(--header-height-fixed);
  }
}

/* リンクの設定 */
a {
  border: none;
}

::placeholder {
  color: var(--color-gray60) !important;
}

/* コンテナー
----------------------------- */
.acms-container,
.container-md,
.container-sm {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-space-x);
  padding-left: var(--container-space-x);

  @if global.$enable-iphonex == true {
    padding-right: calc(env(safe-area-inset-right) + var(--container-space-x));
    padding-left: calc(env(safe-area-inset-left) + var(--container-space-x));
  }

  .acms-container,
  .container-md,
  .container-sm {
    padding-right:0;
    padding-left:0;
  }
}

.acms-container {
  max-width: var(--container);
}

.container-md {
  max-width: var(--container-md);
}

.container-sm {
  --gutter: var(--gutter-sm);

  max-width: var(--container-sm);
}

/* グリッドシステム
----------------------------- */
.acms-cssgrid {
  --acms-gap: var(--col-gutter);
}

/* レイアウト
----------------------------- */
.content-wrapper {
  padding-top: var(--page-title-space-bottom);
}

@include acms.media-breakpoint-up(lg) {
  .content-wrapper.two-columns {
    display: flex;
    justify-content: space-between;
  }
}

/* 2カラム */
.side-container {
  padding-top: 1rem;
}

@include acms.media-breakpoint-up(lg) {
  .main-container {
    width: var(--width-main-container);
    padding-top: 1rem;
  }

  .side-container {
    width: var(--width-side-container);
  }
}

/* a11y
----------------------------- */

/* スクリーンリーダー */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip: rect(0, 0, 0, 0);
}

/* その他上書き
----------------------------- */
.js-open-street-map {
  z-index: 0;
}
