@use "sass:map";
@use "sass:math";
@use "global/acms-common" as acms;
@use "global/common" as global;


/* 構築用（後で削除） */

#adminBox {
  margin-top: 20px;
}

/* ------------------------------
　　ベース
------------------------------ */
html {
  color: global.$color-text;
  font-family: global.$font-base;
  line-height: global.$line-height-lg;
  background: global.$color-white;
  scroll-behavior: smooth;
  scroll-padding-top: global.$header-height-fixed + 2rem;

  @media screen and (min-width: acms.$breakpoint-md-min) {
    scroll-padding-top: global.$header-height-pc + 2rem;

  }
}

body {
  overflow-x: hidden;
}

/* リンクの設定 */
a {
  border: none;

}

::placeholder {
  color: global.$color-gray60 !important;
}

/* コンテナー */
.acms-container {

  max-width: global.$container;
  padding-right: calc(global.$col-gutter / 3);
  padding-left: calc(global.$col-gutter / 3);

  @if global.$enable-iphonex ==true {
    padding-right: calc(env(safe-area-inset-right) + (global.$col-gutter / 3));
    padding-left: calc(env(safe-area-inset-left) + (global.$col-gutter / 3));
  }

  @media screen and (min-width: acms.$breakpoint-lg-min) {
    padding-right: calc(global.$col-gutter * 1.5);
    padding-left: calc(global.$col-gutter * 1.5);

    @if global.$enable-iphonex ==true {
      padding-right: calc(env(safe-area-inset-right) + (global.$col-gutter * 1.5));
      padding-left: calc(env(safe-area-inset-left) + (global.$col-gutter * 1.5));
    }

  }

  .acms-container {
    padding: 0;
  }
}

.container-md {

  box-sizing: border-box;
  max-width: global.$container-md;
  margin: 0 auto;
  padding-right: calc(global.$col-gutter / 2);
  padding-left: calc(global.$col-gutter / 2);

  @if global.$enable-iphonex ==true {
    padding-right: calc(env(safe-area-inset-right) + (global.$col-gutter / 2));
    padding-left: calc(env(safe-area-inset-left) + (global.$col-gutter / 2));
  }

  @media screen and (min-width: acms.$breakpoint-lg-min) {
    padding-right: global.$col-gutter;
    padding-left: global.$col-gutter;

    @if global.$enable-iphonex ==true {
      padding-right: calc(env(safe-area-inset-right) + global.$col-gutter );
      padding-left: calc(env(safe-area-inset-left) + global.$col-gutter );
    }

  }

  .container-md {
    padding: 0;
  }
}

.container-sm {
  --gutter: var(--gutter-sm);
  box-sizing: border-box;
  max-width: global.$container-sm;
  margin: 0 auto;
  padding-right: calc(global.$col-gutter / 2);
  padding-left: calc(global.$col-gutter / 2);

  @if global.$enable-iphonex ==true {
    padding-right: calc(env(safe-area-inset-right) + (global.$col-gutter / 2));
    padding-left: calc(env(safe-area-inset-left) + (global.$col-gutter / 2));
  }
}

.content-wrapper {
  padding: global.$page-title-margin-bottom 0 0;

  &.is-_top {
    padding: 0;
  }
}

@media screen and (min-width: acms.$breakpoint-lg-min) {

  .content-wrapper {
    padding: global.$page-title-margin-bottom-md 0 0;

    &.two-columns {
      display: flex;
      justify-content: space-between;

    }
  }
}

/* グリッド */
.acms-grid {
  margin: 0 calc(global.$unit-gutter-var / -2);
}

[class*="acms-col"] {
  padding-right: calc(global.$unit-gutter-var / 2);
  padding-left: calc(global.$unit-gutter-var / 2);
}

.main {
  margin: 0 0 5rem;
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .main {
    margin: 0 0 6.5rem;
  }
}

/* 2カラム */
@media screen and (min-width: acms.$breakpoint-lg-min) {
  .main-container {
    width: global.$width-main-container;
    padding-top: 1rem;
  }

  .sub-container {
    width: global.$width-sub-container;
    padding-top: 1rem;
  }
}

/* 固定コンテンツ */
.sticky-contents {
  position: fixed;
  bottom: 0;
  z-index: global.$zindex-fixed-contents;
  display: none;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 0;
  transform: translateY(40px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.2s;

  &.is-centered {
    text-align: center;
  }

  &.is-show {
    transform: translateY(0);
    opacity: 1;
  }

  &.is-active {
    display: block;
  }

  &.is-bg {
    background-color: var(--color-footer-sticky);
  }
}

/* モジュール */


/* スクリーンリーダー */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* その他上書き */

.js-open-street-map {
  z-index: 0;
}