@use "sass:math";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　カルーセル
------------------------------ */

.splide-wrap {
  padding-bottom: 2.5rem;
}

.splide {
  .splide__slide {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
    overflow: hidden;
  }

  .splide__pagination__page {
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border: 1px solid global.$color-white;
  }

  .splide__pagination {
    position: static;

    >li {
      width: 1.75rem;
      height: 1.75rem;
      padding: 0.5rem;
      box-sizing: border-box;
    }
  }

  .splide__pagination__page {
    background-color: global.$color-primary;
    border: 1px solid transparent;
    opacity: 1;
    margin: 0;

    &:hover {
      background-color: global.$color-primary;
    }

    &.is-active {
      background-color: transparent;
      border: 1px solid global.$color-primary;
      transform: none;
    }
  }

  .splide__controls {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
  }

  .splide__toggle {
    width: 2rem;
    height: 2rem;
    background-color: global.$color-primary;

    .splide__toggle__play,
    .splide__toggle__pause {}
  }

  .splide__arrow {
    width: 3rem;
    height: 3rem;
    background: global.$color-white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-1.5rem);

    &.splide__arrow--prev {
      left: 0;
    }

    &.splide__arrow--next {
      right: 0;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: transparent;

      .splide__arrow--prev & {
        transform-origin: top;
      }
    }

  }
}

#news-banner-carousel {
  &.splide {
    .splide__slide {
      border-radius: global.$border-radius-lg;

      img {}
    }
  }

  .splide__pagination {
    margin-top: 1rem;
  }

  &:not(.is-overflow) {

    .splide__arrow,
    .splide__pagination {
      display: none;
      pointer-events: none;
    }
  }
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  #news-banner-carousel {
    margin: 0 -1.5rem;
  }
}