@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　カード
------------------------------ */
.card-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.card-item {
  display: flex;
}

.card-item-inner {
  display: flex;
}

.card {
  position: relative;
  display: flex;
  width: 100%;
  color: var(--color-text);

  &::before {
    position: absolute;
    inset: var(--card-bg-space);
    content: "";
  }
}

.card-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;

  &,
  &:link,
  &:visited {
    color: inherit;
  }

  &::after {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    border-radius: var(--border-radius-lg);
    content: "";
    inset: calc(var(--card-bg-space) * -1);

    @media (hover: hover) {
      transition: background-color 0.3s ease;
    }
  }
}

.card-link-inner {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (hover: hover) {
  .card-link:any-link:hover {
    @include acms.media-breakpoint-up(sm) {
      /*
      * sm幅以上でのみ、リンクホバー時に背景色が表示されるように設定しています。
      * この背景色は、シャドウのようにコンテンツからはみ出して表示されます。
      * sm幅未満では画面端に角丸背景色が接することで、視覚的バランスを損なうため適用していません。
      */
      &::after {
        background-color: var(--color-hover-bg-2nd);
      }
    }

    .card-img {
      transform: scale(1.2);
    }

    .card-read-more {
      &::before {
        transform: scaleX(1);
      }
    }
  }
}

.card-img-wrap {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: var(--border-radius-lg);

  img {
    width: 100%;
    aspect-ratio: var(--card-img-aspect-ratio, 455 / 256);
    object-fit: cover;
  }

  .card-category-label {
    position: absolute;
    height: 1.25rem;
    padding: 0 0.5rem;
    color: var(--label-on-image-text);
    font-size: map.get(global.$font-scales, body-s);
    background: var(--label-on-image-bg);
    border-radius: var(--border-radius-md);

    &.left-top {
      top: 10px;
      left: 10px;
    }

    &.right-top {
      top: 10px;
      right: 10px;
    }

    &.right-bottom {
      right: 10px;
      bottom: 10px;
    }

    &.left-bottom {
      bottom: 10px;
      left: 10px;
    }
  }
}

.card-img {
  width: 100%;
  transition: transform 0.4s 0.2s ease-out;
  will-change: transform;

  .js .js-animation-row & {
    opacity: 0;
    will-change: opacity;
  }

  .js .js-animation-row.is-show & {
    opacity: 1;
  }
}

.card-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-title,
.#{acms.$entry-class} .card-title {
  margin: 0;
  color: var(--color-black);
  font-size: map.get(global.$font-scales, heading-ss);
  line-height: var(--line-height-base);

  .js .js-animation-row & {
    opacity: 0;
    will-change: transform, opacity;
  }

  .js .js-animation-row.is-show & {
    animation: fade-in 0.2s 0.7s 1 both;
  }
}

.card-label-box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 1rem;
  align-items: center;
  margin-block: 0;
}

.card-date {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin: 0;
  color: var(--color-text-2nd);
  font-size: map.get(global.$font-scales, body-s);
  line-height: var(--line-height-base);
}

.card-category {
  display: inline-block;
  margin: 0;
  color: var(--color-text-2nd);
  font-size: map.get(global.$font-scales, body-s);
  line-height: var(--line-height-base);
}

.card-text,
.#{acms.$entry-class} .card-text {
  margin: 0;
  color: var(--color-text-2nd);
  font-size: map.get(global.$font-scales, body-m);
  line-height: var(--line-height-lg);

  &:not(&.full) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;

  }

  .js .js-animation-row & {
    opacity: 0;
  }

  .js .js-animation-row.is-show & {
    animation: fade-in 0.2s 1s 1 both;
  }
}

.card-action {
  margin-top: auto;
}

.card-read-more,
.#{acms.$entry-class} .card-read-more {
  position: relative;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  margin: 0;
  font-weight: bold;
  font-size: map.get(global.$font-scales, body-m);

  .js .js-animation-row & {
    opacity: 0;
    will-change: transform, opacity;
  }

  .js .js-animation-row.is-show & {
    animation: fade-in 0.2s 1.2s 1 both;
  }
}

.card-author {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: map.get(global.$font-scales, body-s);
}

.card-author-img {
  margin: 0 0.5rem 0 0;
  border-radius: var(--border-radius-round);
}

@include acms.media-breakpoint-up(md) {
  .card-img-wrap {
    .card-read-more,
    .#{acms.$entry-class} .card-read-more {
      font-size: map.get(global.$font-scales, body-m);

      &::before {
        bottom: -0.5rem;
      }
    }
  }

  .card-title {
    font-size: map.get(global.$font-scales, heading-ss);

    .card.is-lg & {
      font-size: map.get(global.$font-scales, heading-ss);
    }
  }

  .card-text {
    font-size: map.get(global.$font-scales, body-m);

    &.is-bold {
      font-weight: bold;
    }
  }
}

.label-triangle {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4rem;
  height: 4rem;

  svg {
    .st1 {
      fill: var(--color-icon-bg)
    }
  }

  &.right-top {
    top: 0;
    right: 0;
    left: initial;
    rotate: 90deg;
  }

  &.right-bottom {
    top: initial;
    right: 0;
    bottom: 0;
    left: initial;
    rotate: 180deg;
  }

  &.left-bottom {
    top: initial;
    bottom: 0;
    rotate: 270deg;
  }
}
