@use "sass:math";
@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　エントリー
------------------------------ */

/*
　ヘッダー
------------------------------ */
.entry-header {
  margin: 0 0 var(--entry-el-margin-md);
  line-height: 1.5;
}

.entry-header-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.entry-header-date {
  color: var(--color-text-2nd);
  font-size: map.get(global.$font-scales, body-s);
  line-height: var(--line-height-base);
}

.entry-header-category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-block: 0;
  align-items: center;
}

.entry-header-category-label {
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  font-size: map.get(global.$font-scales, body-s);
  line-height: var(--line-height-base);
  text-decoration: none;
  border: 1px solid var(--color-gray30);
  border-radius: var(--border-radius-md);

  &,
  &:link,
  &:visited {
    color: var(--color-text);
  }

  @media (hover: hover) {
    &:any-link:hover {
      background-color: var(--color-hover-bg-2nd);
    }
  }
}

.entry-header-title {
  position: relative;
  margin: 0 0 1.5rem;
  padding: 0 0 1rem;
  font-size: map.get(global.$font-scales, heading-ss);
  border-bottom: var(--border-width-lg) solid var(--color-gray10);

  &::before {
    position: absolute;
    bottom: calc(var(--border-width-lg) * -1);
    width: 3.5rem;
    height: var(--border-width-lg);
    background: var(--color-primary);
    content: "";
  }
}

.entry-header-title-link {
  color: currentcolor;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

@include acms.media-breakpoint-up(md) {
  .entry-header {
    margin: 0 0 3rem;
  }

  .entry-header-info {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .entry-header-title {
    margin: 0 0 1.5rem;
    padding: 0 0 1.5rem;
    font-size: map.get(global.$font-scales, heading-m);

  }
}


/* タグリスト */
.entry-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  list-style: none;
  margin-block: 0.5rem 0;
  padding-inline-start: 0;
}

.entry-tag-item {
  color: var(--color-text);
  font-size: map.get(global.$font-scales, body-s);

  a {
    &:any-link {
      text-decoration: underline dotted;
    }

    &,
    &:link,
    &:visited {
      color: inherit;
    }

    @media (hover: hover) {
      &:any-link:hover {
        text-decoration: none;
      }
    }
  }
}

/*
　エントリーヘッダービジュアルあり
------------------------------ */
.entry-header-visual {
  position: relative;
  background-color: var(--color-gray20);
}

.entry-header-visual-inner {
  position: relative;
}

.entry-header-visual-img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.entry-header-visual-title {
  margin: 0 0 1.5rem;
  font-size: map.get(global.$font-scales, heading-s);
}

.entry-header-visual-desc {
  margin: 0 0 1.5rem;
  font-size: map.get(global.$font-scales, body-s);
  line-height: var(--line-height-lg);
}

.entry-header-visual-btn-wrap {
  margin: 0;

  a {
    width: 100%;
  }
}

@include acms.media-breakpoint-up(md) {
  .entry-header-visual {
    overflow: hidden;
  }

  .entry-header-visual-inner {
    position: absolute;
    inset: 0;
  }

  .entry-header-visual {
    padding: 2rem 0;
  }

  .entry-header-visual-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }

  .entry-header-visual-title {
    font-size: map.get(global.$font-scales, heading-s);
  }

  .entry-header-visual-desc {
    margin: 0 0 var(--entry-el-margin-sm) 0;
    font-size: map.get(global.$font-scales, body-m);
  }

  .entry-header-visual-btn-wrap {
    margin: 0;

    a {
      width: 15rem;
    }
  }
}

@include acms.media-breakpoint-up(lg) {
  .entry-header-visual-title {
    font-size: map.get(global.$font-scales, heading-m);
  }

  .entry-header-visual-desc {
    font-size: map.get(global.$font-scales, body-m);
  }
}


/*
　フッター
------------------------------ */
.entry-footer {
  display: flex;
  flex-direction: column;
  gap: var(--col-gutter);
  margin-block-start: 3rem;

  @include acms.media-breakpoint-up(md) {
    margin-block-start: 4rem;
  }
}

/*
　SNSシェアボタン
------------------------------ */

.share-item {
  margin: 0 0.5rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 3rem;
    height: auto;
    padding: 0.5rem;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(0.8);
    }
  }

  .share-list.is-sm & {
    margin: 0 0.5rem;
  }

  .share-list.is-sm & a {
    width: auto;
  }
}

@include acms.media-breakpoint-up(md) {
  .sns-share-wrapper {
    flex-direction: row;
    align-items: center;
    margin: 0 0 3rem;
    padding: 3rem 1.5rem;
    border-radius: var(--border-radius-xl);
  }

  .sns-share-title {
    margin: 0 2.5rem 0 0;
    font-size: map.get(global.$font-scales, heading-ss);
  }

  .share-item {
    a {
      width: 3rem;
    }

    .share-list.is-sm & a {
      width: auto;
    }
  }
}

/*
　プロフィール
------------------------------ */
.profile-heading {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

/*
　詳細パネル
------------------------------ */

.detail-panel-group {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.detail-panel {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  justify-content: space-between;
  margin: 0 0 2rem;
  padding: 2rem 1rem;
  border: 1px solid var(--color-gray30);
  border-radius: var(--border-radius-md);

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
  }

  a {
    padding-block: 2px;
    color: var(--color-text);
    text-decoration: none;
    border-bottom: var(--color-text);

    &:hover {
      border-color: transparent;
    }
  }
}

@include acms.media-breakpoint-up(md) {
  .detail-panel,
  .detail-panel-group {
    flex-direction: row;
  }

  .detail-panel-group {
    .is-works &,
    .is-event & {
      flex-direction: row;
      gap: 1rem 2rem;
      width: 100%;
    }
  }

  .detail-panel {
    padding: 2rem;

    dt {
      width: 4.5rem;
    }

    dd {
      flex: 1;
    }

    .link-url {
      color: var(--color-text);

      svg {
        width: 14px;
        height: 14px;
        margin-left: 0.5rem;
        vertical-align: middle;
      }
    }
  }

  .detail-panel-group {
    gap: 1rem 2rem;
    width: calc(50% - 1rem);
  }
}

/*
　エントリー下部の追加コンテンツ
------------------------------ */
.entry-aside-section {
  margin-block-start: 3rem;

  &:empty {
    display: none;
  }
}

@include acms.media-breakpoint-up(md) {
  .entry-aside-section {
    margin-block-start: 4rem;
  }
}
