@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　よくあるご質問
------------------------------ */
.faq {
  --hover-speed: 0.25s;

  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow);

  @media (hover: hover) {
    transition: box-shadow var(--hover-speed) ease;

    &:hover {
      box-shadow: var(--box-shadow-hover);
    }
  }
}

.faq-icon {
  flex: 0 0 auto;
  width: 2rem;
  margin: 0;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.faq-question-button {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;

  &.toggle-button {
    padding: 2rem 1rem;
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    &.toggle-button {
      padding: 2rem;
    }
  }
}

.faq-icon {
  font-size: inherit;
  line-height: 1;

  @media screen and (min-width: acms.$breakpoint-md-min) {
    font-size: map.get(global.$font-scales, heading-m);
  }
}

.faq-question {
  margin: 0;
  font-size: map.get(global.$font-scales, body-m);

  .faq-icon {
    color: var(--color-primary);
  }

  .faq-title {
    margin: 0;
    font-weight: bold;
    line-height: var(--line-height-base);
  }

  @media (hover: hover) {
    transition: background-color var(--hover-speed) ease;

    .faq:hover & {
      background-color: var(--color-hover-bg-2nd);
    }
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    font-size: map.get(global.$font-scales, heading-ss);
  }
}

.faq-answer {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin: 0 calc(var(--unit-gutter-var) / 2);
  padding: 2rem 0;
  border-top: 1px solid var(--color-gray30);

  .faq-icon {
    color: var(--color-gray90);
  }

  .faq-icon a {
    text-decoration: none;
  }

  .entry-style {
    margin-bottom: calc(var(--entry-el-margin-md) * -1);
  }

  @media (hover: hover) {
    transition: border-top-color var(--hover-speed) ease;

    .faq:hover & {
      border-top-color: transparent;
    }
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    margin: 0 2rem;
  }
}

/* 質問リスト */
.faq-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: var(--entry-el-margin-md);
  }
}