@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　フッター
------------------------------ */


.footer {
  margin: global.$footer-margin-top-md 0 0 0;
  border-top: global.$border-width-sm solid global.$color-gray20;

  .cta-visual+&,
  .cta+& {
    margin-top: 0;
  }

  .form-search-button {
    min-width: initial;
  }
}

.footer-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem 0;
  gap: 2rem;
}

.footer-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &.-navigation {
    // display: none;
    gap: 1.5rem;
  }
}

/* 企業情報 */
.footer-item-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: map.get(global.$font-scales, body-s);
}

.footer-company-catch {
  margin: 0 0 0.5rem;
  color: global.$color-text-side;
}

.footer-company-title {
  margin: 0 0 1rem;
  font-size: map.get(global.$font-scales, heading-s);
}

.footer-company-logo {
  margin: 0;
  max-height: 2rem;
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .footer {
    margin: global.$footer-margin-top-lg 0 0 0;

    .cta-visual &,
    .cta & {
      margin-top: 0;
    }
  }

  .footer-group {
    flex-direction: row;
  }

  .footer-item {
    &.-address {
      width: calc(4 / 12 * 100%);
    }

    &.-navigation {
      width: calc(8 / 12 * 100%);
    }
  }
}

/* 所在地 */
.footer-address {
  margin-top: auto;
  font-style: normal;
}

.footer-address-name {
  margin: 0 0 0.5rem;
  color: global.$color-text-side;
  font-size: map.get(global.$font-scales, body-m);

}

.footer-address-item {
  margin: 0 0 0.5rem;
  color: global.$color-text-side;
  font-size: map.get(global.$font-scales, body-s);

  a {
    text-decoration: none;
    border-bottom: 1px dotted global.$color-text-side;
    color: global.$color-text-side;

  }
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .footer-address-item {}
}

/* ナビゲーション */
.footer-item-nav {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  gap: 0 1rem;
  justify-content: space-between;
  width: 100%;
}

.footer-nav {
  flex: 1 0 calc(50% - 1rem);
  margin: 0;
  font-size: map.get(global.$font-scales, body-s);
}

.footer-nav-group {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav-item {
  font-weight: bold;
  font-size: map.get(global.$font-scales, body-s);
  margin: 0 0 1rem;

  .footer-nav-item {
    position: relative;
    margin: 0;
    font-weight: normal;
    .footer-nav-link {
      padding: 0.5rem 0 0.5rem 1rem;

      &::before {
        position: absolute;
        top: calc(50% - 0.5rem);
        left: 0;
        display: inline-block;
        width: 0.75rem;
        height: 0.75rem;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMiAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAgNi42MDI3OEw0IDEwLjEwMjhMNCAzLjEwMjc4TDEwIDYuNjAyNzhaIiBmaWxsPSIjQ0FDQUNBIi8+PC9zdmc+");
        content: "";
      }
    }
  }
}

.footer-nav-link {
  position: relative;
  display: inline-block;
  margin: 0;
  color: global.$color-text;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  .footer-nav-item {
    margin-top: 0.5rem;

    .footer-nav-item & {
      margin: 0 0 0.5rem;
      padding: 0.5rem 0;
      color: global.$color-text-side;

      &:hover {
        color: global.$color-text;
      }
    }
  }

  &+.footer-nav-group {
    margin-top: 0.5rem;
    .footer-nav-group {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: acms.$breakpoint-lg-min) {
  .footer-item-nav {
    gap: 2rem;
  }

  .footer-nav {
    flex: 1 0 calc(25% - 2rem);
  }
}

/* 検索フォーム */

.footer-item {
  .form-search {
    margin-bottom: 1.5rem;

    @media screen and (min-width: acms.$breakpoint-md-min) {
      display: flex;
    }

    .form-search-label {
      display: block;
      font-weight: bold;
    }
  }
}

/* サブ項目 */
.footer-nav-side {
  display: flex;
  margin-top: auto;
  border-top: global.$border-width-sm solid global.$color-primary-light;
}

/* インラインナビゲーション */
.footer-nav-inline {
  display: flex;
}

.footer-nav-inline-group {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav-inline-item {
  margin: 1rem 2rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer-nav-inline-link {
  @include global.link-color(global.$color-text-inverse);
}

.footer-bottom {
  padding: 0 0 1rem;

  @media screen and (min-width: acms.$breakpoint-md-min) {
    padding: 1rem 0;

  }
}

/* コピーライト */
.footer-copyright-text {
  margin: 0 0 0.5rem;
  font-weight: bold;
  font-size: map.get(global.$font-scales, body-s);
}

/* SNS */
.footer-sns-group {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-sns-item {
  margin: 0 0.25rem;

  img {
    width: 30px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer-sns-link {
  display: inline-block;
  padding: 0.5rem;
  vertical-align: top;
}

.footer-bottom-inner {
  display: flex;
  align-items: center;
}

.footer-copyright-text {
  margin: 0;
}

.footer-bottom-sns {
  display: block;
  margin-left: auto;
}