@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　ヘッダー
------------------------------ */

.header {
  position: relative;
  z-index: global.$zindex-header;
  width: 100%;
  background: global.$color-white;

}

.header-wrap {
  position: relative;
  z-index: 1;
  background-color: global.$color-white;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
  }

}

.header-item-wrap {
  flex: 1;
}

.header-item-title {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}

.header-title {
  margin: 0;
  padding: 0 1rem;
  font-weight: bold;
  font-size: map.get(global.$font-scales, heading-s);
  line-height: 1;

}

@media (max-width: acms.$breakpoint-lg-max) {
  .header {
    position: fixed;
    box-sizing: border-box;
    max-width: 100%;
    height: global.$header-height-fixed;
    padding: 0 3.5rem 0 0;
  }

  .header-wrap {
    height: global.$header-height-fixed;
  }

  .header-item-nav,
  .header-nav-wrap {
    display: none;
  }
}

.header-sub-navi {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;

  .header-item-nav {
    flex: 1 1 auto
  }

  svg {
    vertical-align: text-bottom;
  }

  .form-search-label {
    height: 2.5rem;
  }

  .button,
  input[type=search] {
    min-width: initial;
    padding: 0.5rem 1.5rem;
    height: 2.5rem;
  }

  .input[type=search] {
    max-width: 370px;
  }
}


/* グローバルナビ（右・デフォルト）
------------------------------ */

.nav-default {
  .header {
    display: flex;
    align-items: center;
    height: global.$header-height;
    box-shadow: global.$elevation04;
  }

  .header-wrap {
    height: global.$header-height;
  }

  .header-title {
    display: flex;
    align-items: center;
  }

  .header-title-link {
    display: flex;
    color: global.$color-text;
  }

  .header-logo {
    display: block;
    max-width: 100%;
    max-height: 2rem;
  }

  .header-item-nav {
    position: relative;
    margin-left: auto;
    font-size: map.get(global.$font-scales, body-m);
    height: global.$header-height-fixed;
  }

  .header-nav-tel {
    text-align: right;
  }

}

/* ロゴ中央・グローバルナビ（下）
------------------------------ */

.nav-bottom,
.logo-center {
  .header-title {
    padding: 0;
  }

  .header-item-wrap {
    align-items: center;
    justify-content: space-between;
    --gutter: var(--gutter-md);
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    max-width: global.$container;
    padding-right: calc(global.$col-gutter / 2);
    padding-left: calc(global.$col-gutter / 2);
    padding: 1rem;

    @media screen and (min-width: acms.$breakpoint-lg-min) {
      padding-right: calc(global.$col-gutter / 1);
      padding-left: calc(global.$col-gutter / 1);
    }
  }

  .header-nav-tel {
    line-height: 1.5;
  }

  .header-nav-tel-no {
    color: global.$color-primary;
    font-weight: bold;

  }

  .header-nav-tel-time {
    font-size: map.get(global.$font-scales, body-s);

  }
}

@media screen and (min-width: acms.$breakpoint-lg-min) {

  .nav-bottom,
  .logo-center {
    padding-bottom: 1rem;
  }
}


.nav-bottom {
  .header-item-wrap {
    display: flex;
  }

  .header-nav-tel {
    text-align: right;
  }

  .header-item-nav {
    flex: 1 0 auto;
    padding-left: 2rem;
  }

  .form-search {
    justify-content: flex-end;
  }

  .form-search-action {
    max-width: 40rem;
  }
}



/* グローバルナビ（下）
------------------------------ */

@media screen and (min-width: acms.$breakpoint-md-min) {
  .nav-bottom {
    .header-nav-wrap {
      display: flex;
      flex-direction: column;
      gap: 8px 0;

      .form-search {
        display: flex;
        flex: 1 0 auto;
      }

      .button {
        min-width: initial;
        white-space: nowrap;
      }

    }
  }
}


/* ロゴ中央
------------------------------ */

.logo-center {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3.5rem;
  }

  .global-nav-mobile-menu-btn {
    background-color: global.$color-white;
    left: 0;
    right: initial;

    .global-nav-mobile-menu-text {
      display: none;
    }

    .global-nav-mobile-icon-toggle-menu {
      background-color: global.$color-gray100;

      &::before,
      &::after {
        background-color: global.$color-gray100;
      }
    }
  }

  [aria-expanded=true] .global-nav-mobile-icon-toggle-menu {
    background: transparent;
  }

  .global-nav-mobile-search-btn {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10002;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    background-color: #FFF;

    svg {
      width: 1.75rem;
      height: 1.75rem;
    }
  }
}

@media screen and (min-width: acms.$breakpoint-lg-min) {
  .logo-center {
    .header {
      display: block;
      padding: 0;

    }

    .header-item-wrap {
      display: grid;
      grid-template-columns: 1fr 240px 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 2rem;
      grid-row-gap: 0px;
      align-items: center;
    }

    .header-title {
      grid-area: 1 / 2 / 2 / 3;
      text-align: center;
    }

    .header-nav-tel {
      grid-area: 1 / 1 / 2 / 2;
    }

    .header-nav-wrap {
      display: contents;
      grid-area: 1 / 3 / 2 / 4;
    }
  }
}


/* 検索フォーム（ヘッダー）
------------------------------ */

.header-search {
  .global-nav-mobile & {
    width: 100%;
    margin-top: 1.5rem;
  }

  .header-search-action {
    display: flex;
    width: 100%;

    .button {
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  input.header-search-input {
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: map.get(global.$font-scales, body-m);
    background: global.$color-gray10;
    border: global.$border-width-sm solid global.$color-gray50;
    border-radius: global.$border-radius-md;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: background-color 0.25s ease;
    appearance: none;

    &:hover {
      background: global.$color-white;
      border-color: global.$color-gray50;
    }

    &:focus {
      background: global.$color-white;
      border-color: acms.$acms-form-focus-border-color;
      outline: none;
      box-shadow: global.$box-shadow-focus, acms.$acms-form-box-shadow;
    }
  }

  .header-search-side-button {
    display: flex;
    white-space: nowrap;
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    input.header-search-input {
      font-size: map.get(global.$font-scales, heading-ss);
    }

    .header-search-button {
      padding: 0.75rem 2rem;
    }
  }
}

.header-search {
  position: absolute;
  top: global.$header-height-fixed;
  right: 0;
  left: 0;
  background: global.$color-globalnav-bg;
  padding: 3rem 0 2rem;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 0.3s;
  transition-property: all;

  @media screen and (min-width: acms.$breakpoint-lg-min) {
    top: initial;
  }

  &[aria-hidden="false"] {
    opacity: 1;
  }

  .form-search {
    max-width: 44rem;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .form-search-button {
    min-width: initial;
  }

}


.header-search-close-btn {
  display: flex;
  align-items: center;
  margin: 1.5rem auto 0;
  padding: 0.5rem 0;
  border: none;
  background: none;
  min-height: 2.5rem;

  svg {
    margin-right: 0.5rem;
    border-radius: 50%;
    box-sizing: border-box;
    width: 1.25rem;
    height: 1.25rem;
    padding: 5px;
    background: global.$color-icon-bg;

    path {
      stroke: global.$color-white;
    }
  }
}

@media screen and (min-width: acms.$breakpoint-lg-min) {
  .header-search {
    top: initial;
  }

}