@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　ヘッダー
------------------------------ */
.header {
  box-sizing: border-box;
  width: 100%;
  padding-right: 3.5rem;
  padding-left: 1rem;
  background: var(--color-white);
}

.header-wrap {
  position: relative;
  z-index: var(--zindex-header);
}

.header-item-wrap {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: var(--container);
  margin-right: auto;
  margin-left: auto;
}

.header-title {
  margin: 0;
  font-weight: bold;
  font-size: map.get(global.$font-scales, heading-s);
  line-height: 1;
}

.header-logo {
  max-height: 3.5rem;
}

// SP時レイアウト：ヘッダーを画面上部に固定、ロゴを中央に配置し、オフキャンバスボタンを右端に配置
@include acms.media-breakpoint-down(lg) {
  .header-wrap {
    height: var(--header-height-fixed);
  }

  .header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: var(--header-height-fixed);
  }
}

@include acms.media-breakpoint-up(md) {
  .header {
    padding-left: 3.5rem;
  }
}

// PC時レイアウト：ロゴとグローバルナビを縦積みに左右中央揃え
@include acms.media-breakpoint-up(lg) {
  .header-item-wrap {
    display: grid;
    grid-gap: 0 var(--col-gutter);
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 240px 1fr;
    align-items: center;
    padding: 1.5rem calc(var(--col-gutter) * 1.5) 0;
    text-align: center;
  }

  .header-title {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
  }
}
