@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　リスト
------------------------------ */
.list-inline {
  display: inline-block;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
  margin: 0 1rem;

}

.list-inline-item:not(:last-child) {
  margin-right: 0.25rem;
}

/* ------------------------------
　　リストグループ
------------------------------ */
.list-group {
  margin: 0 calc(var(--unit-gutter-var) / -4);
  padding: 0;
  list-style: none;
}

.list-group-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 0.5rem;
  color: currentcolor;
  font-weight: normal;
  text-decoration: none;
  transition: background-color 0.2s ease;

  +.list-group {
    margin: 0;
    border: 0;
  }

  &.level-2 {
    svg {
      width: 12px;
      height: auto;
      margin-right: 0.75rem;

      path {
        fill: var(--color-gray30);
      }
    }
  }

  &:hover {
    background: var(--color-hover-bg-2nd);

    .badge {
      background: var(--color-white);

    }
  }

  .badge {
    margin-left: auto;
  }
}