@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* 物件一覧
----------------------------- */

/* 地図表示 */

.map-wrapper {
  min-height: 300px;

  @media (min-width: acms.$breakpoint-md-min) {
    min-height: 400px;
  }
}

.map-search {
  position: relative;
  z-index: 0;
  padding-bottom: 3rem;
}

@media (min-width: acms.$breakpoint-md-min) {
  .map-search {
    padding-bottom: 4rem;
  }
}

.realestate-search {}

.realestate-search-panel {
  background: global.$color-gray10;
  margin-bottom: 2rem;

  padding: 2rem 1rem;
  border-radius: global.$border-radius-xl;

  .form-checkbox {
    width: 50%;
  }
}

.realestate-search-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.realestate-search-item {
  width: 100%;
}

.realestate-search-label {
  display: inline-block;
  min-width: 8rem;
  margin-bottom: 1rem;
  padding: 0.75rem 0;
  font-weight: bold;
}

.realestate-search-input {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0;
  align-items: center;

  &.price {
    width: 100%;
    flex-direction: column;
  }
}

.realestate-search-keyword {
  width: 100%;
}

.realestate-search-footer {
  text-align: center;
}

.map-wrapper {
  .leaflet-container {
    .map-speech-bubble {}
  }

  .leaflet-popup-content {
    margin: 1rem;
    width: 240px;
  }

  .leaflet-container a.leaflet-popup-close-button {
    top: 0.5rem;
    right: 0.5rem;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: global.$color-gray80;
    color: global.$color-white;
    border-radius: global.$border-radius-circle;

    &:hover {
      background: global.$color-gray50;
    }
  }

  .map-speech-bubble {

    a.map-link {
      color: global.$color-text;
      text-decoration: none;
    }

    img {
      display: block;
    }

    .map-img-wrap {
      margin-bottom: 0.5rem;
    }

    .map-text-wrap {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .map-title,
    .map-text {
      margin: 0;
      font-size: map.get(global.$font-scales, body-s);
    }
  }
}

@media (min-width: acms.$breakpoint-md-min) {
  .realestate-search-panel {
    margin-bottom: 3rem;

    padding: 3rem;
    border-radius: global.$border-radius-xxl;

    .form-checkbox {
      width: calc(20% - 1.5rem);
    }

    .realestate-search-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;

    }

    .realestate-search-item {
      display: flex;
      gap: 2rem;
      align-items: center;
    }

    .realestate-search-label {
      margin-bottom: 0;
    }

    .realestate-search-input {
      gap: 1.5rem;
      flex: 1;

      &.price {
        flex-direction: row;

        select {
          flex: 1;
        }
      }
    }
  }
}



/* 物件詳細
----------------------------- */

.realestate-map-entry {
  position: relative;
  z-index: 0;
  margin: 0 calc(global.$unit-gutter-var / 2) global.$entry-el-margin-sm;
}

.realestate-main-image,
.realestate-sub-images {
  padding: 0 calc(global.$unit-gutter-var / 2) 2rem;
}

.realestate-description {
  padding: 0 calc(global.$unit-gutter-var / 2) 2rem;

}


.realestate-sub-images {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.realestate-sub-image {
  .caption {
    margin: 0.5rem 0 0;
    text-align: center;
    font-size: map.get(global.$font-scales, body-s);
  }
}

.realestate-detail-group {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.realestate-detail {
  margin: 0 0 2rem;
  padding: 1rem 2rem;
  border: 1px solid global.$color-gray30;
  border-radius: global.$border-radius-md;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

  dd {
    margin: 0;
  }
}

@media (min-width: acms.$breakpoint-md-min) {

  .realestate-detail,
  .realestate-detail-group {
    flex-direction: row;
  }

  .realestate-detail {
    dt {
      width: 8rem;
    }

    dd {
      flex: 1;
    }
  }

  .realestate-detail-group {
    width: calc(50% - 1rem);
    gap: 1rem 2rem;
  }

  .realestate-sub-images {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .realestate-sub-image {
    width: calc(50% - 1rem);

    &:nth-child(n+3) {
      width: calc(100% / 3 - 1.375rem);

    }
  }
}