@use "sass:map";
@use "sass:math";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　サイドセクション
------------------------------ */

.section-side-col {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: global.$col-gutter;
}

@media screen and (min-width: acms.$breakpoint-lg-min) {
  .section-side-col {
    width: auto;
    padding-right: calc(global.$unit-gutter-var / 4);
    padding-left: calc(global.$unit-gutter-var / 4);

    @if global.$enable-iphonex ==true {
      padding-right: calc(env(safe-area-inset-right) + (global.$unit-gutter-var / 4));
      padding-left: calc(env(safe-area-inset-left) + (global.$unit-gutter-var / 4));
    }

    &.is-fix {
      flex: 0 1 auto;
    }

    &.is-full {
      flex: 1 1 auto;
    }

    &.is-fix+.section-side-col.is-full {
      flex-basis: min-content;
      min-width: 30%;
    }
  }
}

.section-side {
  line-height: 1.5;

  .tag-list {
    margin: 0.75rem calc(global.$unit-gutter-var / -4);

    .tag-link {
      padding: 0.25rem 0.5rem;
    }
  }
}

.section-side-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.-calendar {
    margin: 0 0 0.5rem;
  }
  .calendar-next-prev-button {
    display: flex;
    gap: 1rem;
  }
}

.section-side-title {
  margin: 0;
  padding-bottom: 0.25rem;
  font-size: map.get(global.$font-scales, body-m);

}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .section-side-title {
    font-size: map.get(global.$font-scales, heading-ss);
  }
}

.section-side-link {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: global.$color-text;
  font-weight: bold;
  font-size: map.get(global.$font-scales, body-s);
  text-decoration: none;
  justify-content: flex-end;


  &:hover {
    text-decoration: underline;
  }

  .icon-button {
    margin: 0 0 0 0.5rem;
  }
}

.summary-side-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 math.div(acms.$unit-gutter, -4) 1.25rem;
  padding: 0.5rem 0;
  list-style: none;
}

.summary-side-item {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  width: 100%;

  &[class*=acms-col] {
    padding-right: 0;
    padding-left: 0;
  }
}

.summary-side-link {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0.5rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
  width: 100%;
  padding: 0.5rem;

  &:hover {
    background: global.$color-gray10;
  }

}

.summary-side-img-wrap {
  grid-area: 1 / 1 / 2 / 2;
  overflow: hidden;
  border-radius: global.$border-radius-md;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;

  .noimage {
    height: 100%;
    max-width: initial;
  }
}

.summary-side-title {
  margin: 0;
  font-size: map.get(global.$font-scales, body-m);
  color: global.$color-black;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.summary-side-date {
  display: inline-block;
  margin: 0;
  color: global.$color-gray80;
  font-size: map.get(global.$font-scales, body-s);

}