@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　バナー
------------------------------ */
.banner-list {
  .js .js-animation & {
    opacity: 0;
    will-change: transform, opacity;
  }

  .js .js-animation.is-show & {
    animation: fade-in 0.4s 0.5s 1 both;
  }
}

.banner-item {
  margin: 0;
}

.banner-link {
  display: block;
  transition: 0.2s;

}

.banner-img {
  display: block;
  width: 100%;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow);

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
}
