@use "sass:map";
@use "sass:math";
@use "global/acms-common" as acms;
@use "global/common" as global;



#adminBox {
  margin-top: 20px;
}

/* ------------------------------
　　ベース
------------------------------ */
html {
  color: var(--color-text);
  font-family: var(--font-base);
  line-height: var(--line-height-lg);
  background: var(--color-white);
  scroll-behavior: smooth;

  @include acms.media-breakpoint-up(md) {
    scroll-padding-top: var(--header-height-fixed);

    &:has(.nav-bottom.sticky) {
      scroll-padding-top: 12rem;
    }

    &:has(.logo-center.sticky) {
      scroll-padding-top: 10rem;
    }
  }

}

/* リンクの設定 */
a {
  border: none;
}

::placeholder {
  color: var(--color-gray60) !important;
}

/* コンテナー
----------------------------- */
.acms-container {
  max-width: var(--container);
  padding-right: var(--gutter-sm);
  padding-left: var(--gutter-sm);

  @if global.$enable-iphonex == true {
    padding-right: calc(env(safe-area-inset-right) + var(--gutter-sm));
    padding-left: calc(env(safe-area-inset-left) + var(--gutter-sm));
  }

  @include acms.media-breakpoint-up(sm) {
    padding-right: var(--gutter-md);
    padding-left: var(--gutter-md);

    @if global.$enable-iphonex == true {
      padding-right: calc(env(safe-area-inset-right) + var(--gutter-md));
      padding-left: calc(env(safe-area-inset-left) + var(--gutter-md));
    }
  }

  @include acms.media-breakpoint-up(lg) {
    padding-right: var(--gutter-lg);
    padding-left: var(--gutter-lg);

    @if global.$enable-iphonex == true {
      padding-right: calc(env(safe-area-inset-right) + var(--gutter-lg));
      padding-left: calc(env(safe-area-inset-left) + var(--gutter-lg));
    }
  }

  .acms-container {
    padding: 0;
  }
}

.container-md {
  box-sizing: border-box;
  max-width: var(--container-md);
  margin: 0 auto;
  padding-right: var(--gutter-sm);
  padding-left: var(--gutter-sm);

  @if global.$enable-iphonex == true {
    padding-right: calc(env(safe-area-inset-right) + var(--gutter-sm));
    padding-left: calc(env(safe-area-inset-left) + var(--gutter-sm));
  }

  @include acms.media-breakpoint-up(sm) {
    padding-right: var(--gutter-md);
    padding-left: var(--gutter-md);

    @if global.$enable-iphonex == true {
      padding-right: calc(env(safe-area-inset-right) + var(--gutter-md));
      padding-left: calc(env(safe-area-inset-left) + var(--gutter-md));
    }
  }

  @include acms.media-breakpoint-up(lg) {
    padding-right: var(--gutter-lg);
    padding-left: var(--gutter-lg);

    @if global.$enable-iphonex == true {
      padding-right: calc(env(safe-area-inset-right) + var(--gutter-lg));
      padding-left: calc(env(safe-area-inset-left) + var(--gutter-lg));
    }
  }

  .container-md {
    padding: 0;
  }
}

.container-sm {
  --gutter: var(--gutter-sm);

  box-sizing: border-box;
  max-width: var(--container-sm);
  margin: 0 auto;
  padding-right: var(--gutter-sm);
  padding-left: var(--gutter-sm);

  @if global.$enable-iphonex == true {
    padding-right: calc(env(safe-area-inset-right) + var(--gutter-sm));
    padding-left: calc(env(safe-area-inset-left) + var(--gutter-sm));
  }

  @include acms.media-breakpoint-up(sm) {
    padding-right: var(--gutter-md);
    padding-left: var(--gutter-md);

    @if global.$enable-iphonex == true {
      padding-right: calc(env(safe-area-inset-right) + var(--gutter-md));
      padding-left: calc(env(safe-area-inset-left) + var(--gutter-md));
    }
  }

  @include acms.media-breakpoint-up(lg) {
    padding-right: var(--gutter-lg);
    padding-left: var(--gutter-lg);

    @if global.$enable-iphonex == true {
      padding-right: calc(env(safe-area-inset-right) + var(--gutter-lg));
      padding-left: calc(env(safe-area-inset-left) + var(--gutter-lg));
    }
  }
}

/* グリッドシステム
----------------------------- */
.acms-cssgrid {
  --acms-gap: var(--col-gutter);
}

/* レイアウト
----------------------------- */
.content-wrapper {
  padding-top: 4rem;
}

@include acms.media-breakpoint-up(lg) {
  .content-wrapper {
    padding-top: 6.5rem;

    &.two-columns {
      display: flex;
      justify-content: space-between;
    }
  }
}

/* 2カラム */
.side-container {
  padding-top: 1rem;
}

@include acms.media-breakpoint-up(lg) {
  .main-container {
    width: var(--width-main-container);
    padding-top: 1rem;
  }

  .side-container {
    width: var(--width-side-container);
  }
}

/* 固定コンテンツ */
.sticky-contents {
  position: fixed;
  bottom: 0;
  z-index: var(--zindex-fixed-contents);
  display: none;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 0;
  transform: translateY(40px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.2s;

  &.is-centered {
    text-align: center;
  }

  &.is-show {
    transform: translateY(0);
    opacity: 1;
  }

  &.is-active {
    display: block;
  }

  &.is-bg {
    background-color: var(--color-footer-sticky);
  }
}

/* a11y
----------------------------- */

/* スクリーンリーダー */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip: rect(0, 0, 0, 0);
}

/* その他上書き
----------------------------- */
.js-open-street-map {
  z-index: 0;
}
