@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　カレンダー
------------------------------ */
.calendar {
  width: 100%;

  .is-week-0 {
    color: var(--color-text-sunday);
  }

  .is-week-6 {
    color: var(--color-text-saturday);
  }
}

.calendar-label {
  padding: 0.5rem 0;
  color: var(--color-text-2nd);
  font-weight: normal;
}

.calendar-day {
  padding: 0.5rem 0;
  color: var(--color-text-2nd);
}

.calendar-day-has {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -0.5rem auto;
  padding: 0.5rem 0;
  color: currentcolor;
  font-weight: bold;
  text-decoration: none;
  background: var(--color-gray10);
  border-radius: 0.25rem;
  transition: background-color 0.2s;

  &:hover {
    background: var(--color-hover-bg-2nd);
  }
}

@include acms.media-breakpoint-up(md) {
  .calendar-label {
    width: 3.5rem;
    padding: 0 0 0.75rem;
  }

  .calendar-day {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
  }

  .section-side .calendar-day {
    width: 2.5rem;
    height: 2.5rem;
  }

  .calendar-day-has {
    width: 2rem;
    height: 2rem;
    padding: 0;
  }

  .section-side .calendar-day-has {
    width: 1.75rem;
    height: 1.75rem;
  }
}

/* 年間カレンダーレイアウト
------------------------------ */
.calendar-group {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: var(--col-gutter);
  margin: 0;
  padding: 0 1rem 2rem;
  list-style: none;
}

.calendar-group-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 0 1rem;
  text-align: center;
}

.calendar-group-item-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 0 0.5rem;
}

@include acms.media-breakpoint-up(md) {
  .calendar-group {
    grid-template-columns: 1fr 1fr;
  }

  .calendar-group-item {
    margin: 0;
  }
}

@include acms.media-breakpoint-up(lg) {
  .calendar-group {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* イベントカレンダー
------------------------------ */
.calendar-event {
  --calendar-event-item-cell-spacing-y: 0.5rem;
  --calendar-event-item-link-spacing-y: 0.5rem;
  --calendar-event-item-link-spacing-x: 0.5rem;

  @include acms.media-breakpoint-up(sm) {
    --calendar-event-item-link-spacing-y: 1rem;
    --calendar-event-item-link-spacing-x: 1rem;
  }
}

.calendar-event-table {
  display: table;
  width: 100%;
  margin-bottom: 2rem;
  border-top: var(--border-width-sm) solid var(--color-gray30);
  border-collapse: collapse;

  th {
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
    border-bottom: var(--border-width-sm) solid var(--color-gray30);
    padding-inline-end: 0.5rem;
    padding-block: calc(var(--calendar-event-item-cell-spacing-y) + var(--calendar-event-item-link-spacing-y));

    @include acms.media-breakpoint-up(sm) {
      padding-inline: 1rem;
    }
  }

  td {
    width: 100%;
    vertical-align: top;
    padding-block: var(--calendar-event-item-cell-spacing-y);
    border-bottom: var(--border-width-sm) solid var(--color-gray30);
  }
}

.calendar-event-fore-spacer,
.calendar-event-rear-spacer {
  background-color: var( --color-gray10);
}

.calendar-event-day-layout {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;

  @include acms.media-breakpoint-up(md) {
    gap: 1rem;
  }
}

.calendar-event-day {
  display: block;
  font-weight: bold;
  font-size: map.get(global.$font-scales, heading-ss);
  line-height: var(--line-height-base);
  text-align: right;

  @include acms.media-breakpoint-up(md) {
    font-size: map.get(global.$font-scales, heading-s);
  }
}

.badge-day {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  color: var(--color-text-2nd);
  font-size: map.get(global.$font-scales, body-m);
  line-height: 1;
  text-align: center;
  background-color: var(--color-gray10);
  border-radius: var(--border-radius-round);

  &.is-week-0 {
    color: var(--color-text-sunday);
  }

  &.is-week-6 {
    color: var(--color-text-saturday);
  }

  @include acms.media-breakpoint-up(md) {
    width: 2rem;
    height: 2rem;
    font-size: map.get(global.$font-scales, body-m);
  }
}

.calendar-event-item-link {
  display: block;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  border-radius: var( --border-radius-lg);

  @media (hover: hover) {
    transition: background-color 0.3s ease;

    &:any-link:hover {
      background-color: var(--color-hover-bg-2nd);
    }
  }
}

.calendar-event-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 1rem;
  align-items: flex-start;
  padding-block: var(--calendar-event-item-link-spacing-y);
  padding-inline: var(--calendar-event-item-link-spacing-x);

  @include acms.media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.calendar-item-texts-layout {
  display: grid;
  gap: 0.5rem;
}

.calendar-item-labels-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.calendar-item-time {
  color: var(--color-text);
  font-size: map.get(global.$font-scales, body-s);
  line-height: var(--line-height-base);
  margin-block: 0;

  @include acms.media-breakpoint-up(md) {
    font-size: map.get(global.$font-scales, body-m);
  }
}

.calendar-event-item-title {
  margin-block: 0;
  color: var(--color-text);
  font-weight: bold;
  font-size: map.get(global.$font-scales, heading-3s);
  line-height: var(--line-height-base);

  @include acms.media-breakpoint-up(md) {
    font-size: map.get(global.$font-scales, heading-ss);
  }
}

.calendar-event-item-img {
  display: block;
  width: 11.25rem;
  height: auto;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
  aspect-ratio: 16 / 9;

  @include acms.media-breakpoint-up(sm) {
    width: 10rem;
  }
}

/* カレンダー ヘッダー
------------------------------ */
.calendar-header {
  margin: 0 0 0.5rem;
}

.calendar-header-title {
  margin: 0;
  padding: 0.5rem;
  color: var(--color-text);
  font-weight: bold;
  font-size: map.get(global.$font-scales, heading-ss);

  a {
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      &:any-link:hover {
        text-decoration: underline dotted 1px;
        text-underline-offset: 3px;
      }
    }
  }
}

/* カレンダー ページネーション
------------------------------ */
.calendar-pagination {
  @include acms.media-breakpoint-up(md) {
    display: inline-flex;
    padding: 0 4.5rem;
  }
}

.calendar-pagination-wrap {
  position: relative;
  padding: 1rem 1rem 2rem;
  text-align: center;
}

.calendar-pagination-title {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: map.get(global.$font-scales, heading-m);

  &.is-return {
    transform: translateY(100%);
  }

  @include acms.media-breakpoint-up(md) {
    font-size: map.get(global.$font-scales, heading-m);

    &.is-return {
      transform: translateY(0);
    }
  }
}

.calendar-pagination-group {
  position: static;
  margin: 0;
  padding: 0;
  list-style: none;
}

.calendar-pagination-item-previous,
.calendar-pagination-item-next {
  position: absolute;
  top: 1.5rem;
}

.calendar-pagination-item-previous {
  left: 1rem;
}

.calendar-pagination-item-next {
  right: 1rem;
}

.calendar-pagination-link {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding-block: 0.5rem;
  line-height: 1;
  text-decoration: none;

  @media (hover: hover) {
    &:any-link:hover {
      .calendar-pagination-link-icon {
        background-color: var(--color-icon-bg-hover);
      }
    }
  }

  @include acms.media-breakpoint-up(sm) {
    gap: 0.5rem;
  }
}

.calendar-pagination-link-text {
  color: var(--color-text);
  font-weight: bold;
  font-size: map.get(global.$font-scales, body-m);
  line-height: var(--line-height-base);
}

.calendar-pagination-link-icon {
  display: grid;
  box-sizing: border-box;
  width: 1.25rem;
  height: auto;
  background-color: var(--color-icon-bg);
  border-radius: 50%;
  place-items: center;
  aspect-ratio: 1 / 1;

  svg {
    width: 0.625rem;
    height: 0.625rem;
    object-fit: contain;
    color: var(--color-white);

    path {
      stroke: currentcolor;
    }
  }

  @media (hover: hover) {
    transition: background-color 0.3s ease;
  }
}

/* サイドカラムのカレンダー月送りボタン
------------------------------ */
.calendar-next-prev-button-layout {
  display: flex;
  gap: 1rem;
}

.calendar-next-prev-button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 1.25rem;
  height: 1.25rem;
  color: var(--color-white);
  background-color: var(--color-icon-bg);
  border-radius: 50%;

  svg {
    width: 0.657rem;
    height: 0.657rem;
    object-fit: contain;
    color: inherit;

    path {
      stroke: currentcolor;
    }
  }

  @media (hover: hover) {
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--color-icon-bg-hover);
    }
  }
}

/* サイドカラムの「年間カレンダーで見る」リンク
------------------------------ */
.section-side-link {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-end;
  padding-block: 0.25rem;
  margin: 0;
  line-height: 1;
  text-decoration: none;

  @media (hover: hover) {
    &:any-link:hover {
      .section-side-link-icon {
        background-color: var(--color-icon-bg-hover);
      }
    }
  }
}

.section-side-link-text {
  color: var(--color-text);
  font-weight: bold;
  font-size: map.get(global.$font-scales, body-s);
  line-height: var(--line-height-base);
}

.section-side-link-icon {
  display: grid;
  box-sizing: border-box;
  width: 1rem;
  height: auto;
  background-color: var(--color-icon-bg);
  border-radius: 50%;
  place-items: center;
  aspect-ratio: 1 / 1;

  svg {
    width: 0.625rem;
    height: 0.625rem;
    object-fit: contain;
    color: var(--color-white);

    path {
      stroke: currentcolor;
    }
  }

  @media (hover: hover) {
    transition: background-color 0.3s ease;
  }
}
