@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　ボーダー付きカード
------------------------------ */
.card-bordered-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-bordered-item {
  display: flex;
}

.card-bordered {
  width: 100%;
}

.card-bordered-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow);

  @include global.link-card(var(--color-text));

  @media (hover: hover) {
    &:hover {
      box-shadow: var(--box-shadow);

      .card-bordered-img {
        transform: scale(1.2);
      }

      .card-bordered-read-more {
        &::before {
          transform: scaleX(1);
        }
      }
    }
  }
}

.card-bordered-img-wrap {
  margin: 0;
  overflow: hidden;
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
}

.card-bordered-img {
  width: 100%;
  object-fit: cover;
  transition: 0.4s 0.2s ease-out;
  will-change: transform;
  aspect-ratio: var(--card-img-aspect-ratio, 16 / 9);

  .js .js-animation-row & {
    opacity: 0;
  }

  .js .js-animation-row.is-show & {
    opacity: 1;
  }
}

.card-bordered-title,
.#{ acms.$entry-class } .card-bordered-title {
  margin: 0 0 1rem;
  color: var(--color-black);
  font-size: map.get(global.$font-scales, heading-ss);
  line-height: var(--line-height-sm);
}

.card-bordered-read-more,
.#{acms.$entry-class} .card-bordered-read-more {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0;
  font-weight: bold;
  font-size: map.get(global.$font-scales, body-m);

  &::before {
    position: absolute;
    right: 0;
    bottom: -0.25rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    content: "";
  }

  .js .js-animation-row & {
    opacity: 0;
    will-change: transform, opacity;
  }

  .js .js-animation-row.is-show & {
    animation: fade-in 0.2s 1.2s 1 both;
  }
}

.card-bordered-text-inline {
  display: flex;
  align-items: center;
  padding: 1rem;

  .card-bordered-title,
  .#{acms.$entry-class} .card-bordered-title,
  .card-bordered-text,
  .card-bordered-read-more {
    margin: 0;
  }

  .card-bordered-read-more {
    margin-left: auto;
  }
}

@include acms.media-breakpoint-up(md) {
  .card-bordered-text-inline {
    display: flex;
    padding: 1.5rem;
  }

  .card-bordered-title,
  .#{acms.$entry-class} .card-bordered-title {
    margin: 0;
    font-size: map.get(global.$font-scales, heading-s);
  }

  .card-bordered-text {
    margin: 0 0 2rem;
    font-size: map.get(global.$font-scales, body-m);
  }

  .card-bordered-read-more,
  .#{acms.$entry-class} .card-bordered-read-more {
    font-size: map.get(global.$font-scales, body-m);

    &::before {
      bottom: -0.5rem;
    }
  }
}

@include acms.media-breakpoint-up(lg) {
  .card-bordered-text-inline {
    padding: 2rem;
  }
}

.label-triangle {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4rem;
  height: 4rem;

  svg {
    .st1 {
      fill: var(--color-icon-bg)
    }
  }

  &.right-top {
    top: 0;
    right: 0;
    left: initial;
    rotate: 90deg;
  }

  &.right-bottom {
    top: initial;
    right: 0;
    bottom: 0;
    left: initial;
    rotate: 180deg;
  }

  &.left-bottom {
    top: initial;
    bottom: 0;
    rotate: 270deg;
  }
}
