@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　テキストユニットのエディターの設定
------------------------------ */

/* エントリー内ボタン */
.entryFormLiteEditor {
  .text-word-break {
    display: inline-block;

    &::after {
      margin: 0 2px;
      color: var(--color-gray40);
      content: "|";
    }
  }

  em {
    @include global.entry-em(var(--color-highlight));
  }

  strong {
    @include global.entry-strong(var(--color-highlight));
  }

  a {
    @include global.entry-link(var(--color-text), var(--color-text));
  }
}

.acms-admin-table-admin-edit {
  border-collapse: collapse;

  .sortable-item {
    border-top: 1px solid #ccc;

    &:first-child {
      border: 0;
    }
  }
}