@use "sass:math";
@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　エントリー
------------------------------ */

/*
　ヘッダー
------------------------------ */
.entry-header {
  margin: 0 0 var(--entry-el-margin-md);
  line-height: 1.5;

  .tag-list {
    margin: 0.5rem 0 0;
  }

  .tag-link {
    font-size: map.get(global.$font-scales, body-s);
    border-bottom: 1px dotted var(--color-text);
  }
}

.entry-header-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--color-text-2nd);
  font-size: map.get(global.$font-scales, body-s);
}

.entry-header-date {
  &.-event {
    font-size: map.get(global.$font-scales, body-m);

    .entry-header-date-label {
      color: var(--color-primary);
      font-weight: bold;
    }
  }
}

.entry-header-category {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  a:link,
  a:visited,
  a:active,
  a:focus {
    padding: 0.25rem 0.5rem;
    color: var(--color-text-2nd);
    text-decoration: none;

    &:hover {
      background-color: var(--color-hover-bg-2nd);
    }
  }

  .is-bordered {
    border: 1px solid var(--color-gray30);
    border-radius: var(--border-radius-md);
  }

  .entry-header-category-item {
    font-weight: bold;
  }
}

.entry-header-title {
  position: relative;
  margin: 0 0 1.5rem;
  padding: 0 0 1rem;
  font-size: map.get(global.$font-scales, heading-ss);
  border-bottom: var(--border-width-lg) solid var(--color-gray10);

  &::before {
    position: absolute;
    bottom: calc(var(--border-width-lg) * -1);
    width: 3.5rem;
    height: var(--border-width-lg);
    background: var(--color-primary);
    content: "";
  }
}

.entry-header-title-link {
  color: currentcolor;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

@include acms.media-breakpoint-up(md) {
  .entry-header {
    margin: 0 0 3rem;
  }

  .entry-header-info {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .entry-header-title {
    margin: 0 0 1.5rem;
    padding: 0 0 1.5rem;
    font-size: map.get(global.$font-scales, heading-m);

  }
}

/*
　エントリーヘッダービジュアルあり
------------------------------ */
.entry-header-visual {
  position: relative;
  background-color: var(--color-gray20);
}

.entry-header-visual-inner {
  position: relative;
}

.entry-header-visual-img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.entry-header-visual-box {
  position: relative;
  box-sizing: border-box;
  padding: 2rem 1rem;
  color: var(--color-white);
  background: rgb(0 0 0 / 70%);
}

.entry-header-visual-title {
  margin: 0 0 1.5rem;
  font-size: map.get(global.$font-scales, heading-s);
}

.entry-header-visual-desc {
  margin: 0 0 1.5rem;
  font-size: map.get(global.$font-scales, body-s);
  line-height: var(--line-height-lg);
}

.entry-header-visual-btn-wrap {
  margin: 0;

  a {
    width: 100%;
  }
}

@include acms.media-breakpoint-up(md) {
  .entry-header-visual {
    overflow: hidden;
  }

  .entry-header-visual-inner {
    position: absolute;
    inset: 0;
  }

  .entry-header-visual {
    padding: 2rem 0;
  }

  .entry-header-visual-box {
    width: 50%;
    max-width: 35rem;
    margin: 0 calc(var(--unit-gutter-var) / 2);
    padding: 2.5rem 2.5rem 2rem;
  }

  .entry-header-visual-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }

  .entry-header-visual-title {
    font-size: map.get(global.$font-scales, heading-s);
  }

  .entry-header-visual-desc {
    margin: 0 0 var(--entry-el-margin-sm) 0;
    font-size: map.get(global.$font-scales, body-m);
  }

  .entry-header-visual-btn-wrap {
    margin: 0;

    a {
      width: 15rem;
    }
  }
}

@include acms.media-breakpoint-up(lg) {
  .entry-header-visual-title {
    font-size: map.get(global.$font-scales, heading-m);
  }

  .entry-header-visual-desc {
    font-size: map.get(global.$font-scales, body-m);
  }
}


/*
　フッター
------------------------------ */
.entry-footer {
  display: flex;
  flex-direction: column;
  gap: var(--col-gutter);
  padding: 1rem 0;

}

@include acms.media-breakpoint-up(md) {
  .entry-footer {
    padding: 2rem 0;

  }
}


/*
　SNSシェアボタン
------------------------------ */

.share-item {
  margin: 0 0.5rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 3rem;
    height: auto;
    padding: 0.5rem;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(0.8);
    }
  }

  .share-list.is-sm & {
    margin: 0 0.5rem;
  }

  .share-list.is-sm & a {
    width: auto;
  }
}

@include acms.media-breakpoint-up(md) {
  .sns-share-wrapper {
    flex-direction: row;
    align-items: center;
    margin: 0 0 3rem;
    padding: 3rem 1.5rem;
    border-radius: var(--border-radius-xl);
  }

  .sns-share-title {
    margin: 0 2.5rem 0 0;
    font-size: map.get(global.$font-scales, heading-ss);
  }

  .share-item {
    a {
      width: 3rem;
    }

    .share-list.is-sm & a {
      width: auto;
    }
  }
}

/*
　プロフィール
------------------------------ */
.profile-heading {
  margin-top: 0;
  margin-bottom: 0.75rem;
}


/*
　FAQ
------------------------------ */
.entry-faq-title,
.entry-faq-body {
  display: flex;
  gap: 1rem;
  align-items: flex-start;

  @include acms.media-breakpoint-up(md) {
    gap: 1.5rem;
  }
}

/* 上書きのため詳細度上げています */
.entry-style .entry-faq-title-icon,
.entry-style .entry-faq-body-icon,
.entry-faq-title-icon,
.entry-faq-body-icon {
  flex: 0 0 auto;
  min-width: 1.5rem;
  margin: 0;
  font-weight: bold;
  font-size: map.get(global.$font-scales, heading-s);
  line-height: 1;
  text-align: center;
  text-box-trim: trim-both;
  text-box-edge: text;

  @include acms.media-breakpoint-up(md) {
    min-width: 2rem;
    font-size: map.get(global.$font-scales, heading-l);
  }
}

.entry-faq-title-icon {
  color: var(--color-primary);
}

.entry-faq-body-icon {
  color: var(--color-gray90);
}

/*
　採用情報
------------------------------ */
.recruit-footer-bar {
  background-color: var(--color-footer-sticky);
}

.entry-bottom-button {
  padding: 1rem 1rem 2rem;
  text-align: center;
}

/*
　シェア用モーダルウインドウ
------------------------------ */
.entry-share-modal {
  .share-button {
    display: inline-flex;
    gap: 0.375rem;
    align-items: center;
    cursor: pointer;
  }

  .share-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .share-label {
    font-weight: bold;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.6;
    }
  }

  .share-dialog {
    z-index: 1000;
    box-sizing: border-box;
    width: 91.667%;
    max-width: 32rem;
    margin: auto;
    padding: 2rem;
    background-color: #fff;
    background-blend-mode: multiply;
    border: 0;
    border-radius: var(--border-radius-lg);
    backdrop-filter: blur(8px);

    &::backdrop {
      background-color: var(--color-black80);
    }

  }

  .dialog-title {
    margin: 0;
    color: var(--color-text);
    font-weight: bold;
    text-align: center;
  }

  .sns-list {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
    padding: 0;
    list-style-type: none;
  }

  .sns-link {
    display: inline-block;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }

    &.line {
      color: #06C755;
    }
  }

  .url-copy-area {
    display: flex;
    gap: 0.5rem;
  }

  .copy-input-wrap {
    position: relative;
    flex: 1;
  }

  .copy-icon {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    width: 1.25rem;
    color: #6b7280;

    svg {
      width: 100%;
      height: auto;
    }
  }

  .copy-input {
    width: 100%;
    height: 100%;
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    border: 1px solid var(--color-gray30);
    border-radius: var(--border-radius-md);
  }

  .copy-button-wrap {
    .button {
      padding-inline: 0.75rem;
      font-size: 0.875rem;
    }
  }

  .dialog-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.25rem;
    color: #fff;
    text-align: center;
    background-color: #6b7280;
    border: none;
    border-radius: var(--border-radius-round);
    cursor: pointer;
  }

  .close-icon {
    width: 1rem;
    height: 1rem;
  }
}

/*
　お客様の声
------------------------------ */

.bubble-item {
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
}

.bubble-heading-wrap {
  grid-row-start: 1;
  grid-column-start: 2;
}

.bubble-heading {
  margin: 0;
  font-size: map.get(global.$font-scales, body-s);

}

.bubble-image-wrap {
  overflow: hidden;

  img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: var(--border-radius-round);
  }
}

.bubble-text {
  position: relative;
  grid-row-start: 2;
  grid-column: span 2 / span 2;
  grid-column-start: 1;
  clear: both;
  padding: 2rem 1rem;
  background-color: var(--color-gray10);
  border-radius: var(--border-radius-lg);

  &::after {
    position: absolute;
    top: -10px;
    left: calc(3rem - 6px);
    width: 12px;
    height: 10px;
    background-color: var(--color-gray10);
    content: "";
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
  }
}

.bubble-name {
  font-weight: bold;
}

.bubble-heading,
.bubble-name {
  .entry-style & {
    margin: 0 0 1rem;
  }
}

@include acms.media-breakpoint-up(md) {
  .bubble-item {
    position: relative;
    gap: 0 2rem;
  }

  .bubble-image-wrap {
    margin-right: 0;

    img {
      position: absolute;
      top: 0;
    }
  }

  .bubble-heading-wrap {
    position: relative;
    padding: 2rem 2rem 0;
    background-color: var(--color-gray10);
    border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;

    &::after {
      position: absolute;
      top: calc(3rem - 6px);
      left: -10px;
      width: 10px;
      height: 12px;
      background-color: var(--color-gray10);
      content: "";
      clip-path: polygon(0 50%, 100% 0, 100% 100%);
    }

  }

  .bubble-heading {
    br {
      display: none;
    }
  }

  .bubble-text {
    grid-column: initial;
    grid-column-start: 2;
    padding: 0 2rem 2rem;
    border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);

    &::after {
      content: none;
    }
  }

  .bubble-heading,
  .bubble-name {
    .entry-style & {
      margin: 0 0 1rem;
    }
  }

}

/*
　エントリー下部のサマリー
------------------------------ */


.summary-entry-bottom {
  padding: var(--entry-el-padding-md) 0 0;
}

@include acms.media-breakpoint-up(md) {
  .summary-entry-bottom {
    padding: var(--entry-el-padding-md) 2rem 0;
  }

}
