@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　リスト
------------------------------ */

/* アーカイブリスト、カテゴリーリスト
------------------------------ */
.list-group {
  margin: 0 calc(var(--unit-gutter-var) / -4);
  padding: 0;
  list-style: none;
}

.list-group-item {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 0.75rem 0.5rem;
  color: currentcolor;
  font-weight: normal;
  text-decoration: none;
  transition: background-color 0.2s ease;

  +.list-group {
    margin: 0;
    border: 0;
  }

  &.level-2 {
    .list-group-item-icon {
      display: inline-block;
    }
  }

  &:hover {
    background: var(--color-hover-bg-2nd);

    .badge {
      background: var(--color-white);

    }
  }

  .badge {
    margin-left: auto;
  }
}

.list-group-item-icon {
  display: none;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-gray30);
  place-items: center;

  svg {
    width: 100%;
    height: auto;
    object-fit: contain;
    color: inherit;
    aspect-ratio: 1 / 1;

    path {
      fill: currentcolor;
    }
  }
}
