@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　メインビジュアル（デフォルト）
------------------------------ */
.main-visual {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: var(--mv-height-sp, 36.5rem);
  margin-bottom: 5rem;

  &:not(:has(.main-visual-slider)) {
    overflow: hidden;
    padding-block: 6.5rem;
  }

  .main-visual-slider {
    --slider-controls-height: 80px;

    min-height: var(--mv-height-sp, 36.5rem);

    .splide__track,
    .splide__list,
    .splide__slide {
      min-height: calc(var(--mv-height-sp, 36.5rem) - var(--slider-controls-height));
    }
  }

  .main-visual-filter {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(0 0 0 / 0%) 50%, #000 100%);
  }

  .main-visual-bg {
    position: absolute;
    display: block;
    inset: 0;

    .is-alone {
      animation: zoom 3s 0.3s 1 both;
      animation-duration: ease-out;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .main-visual-box {
    position: relative;
    z-index: 5;
    display: grid;
    gap: var(--col-gutter);
    box-sizing: border-box;
    width: calc(100vw - 2rem);
    max-width: 480px;
    padding: 2rem;
    color: var(--color-primary);
    background: rgb(255 255 255 / 90%);
    place-content: center;
  }

  .main-visual-catch {
    margin: 0;
    font-size: map.get(global.$font-scales, heading-l);
    line-height: var(--line-height-sm);
    animation: fade-in 0.3s 0.8s 1 both;
    will-change: transform, opacity;
  }

  .main-visual-catch-sub {
    margin: 0;
    font-weight: bold;
    font-size: map.get(global.$font-scales, body-m);
    line-height: var(--line-height-lg);
    animation: fade-in 0.3s 1.3s 1 both;
    will-change: transform, opacity;
  }

  .main-visual-links {
    display: grid;
    gap: 1rem;

    .button.is-bordered:not(:hover) {
      background: var(--color-white);
    }
  }

  .main-visual-scroll {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 2rem;
    font-weight: bold;
    text-align: center;
    animation: fade-in 0.3s 2.8s 1 both;
    will-change: transform, opacity;
  }

  .main-visual-scroll-link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    &:link,
    &:visited,
    &:active,
    &:focus {
      color: var(--color-white);
    }

    &:hover {
      opacity: 0.6;
    }

    &::after {
      display: inline-block;
      width: 0.5rem;
      height: 1rem;
      margin: 0.25rem 0 0;
      background-image: url(#{global.$root-theme-img + 'icon-button.svg' });
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform: rotate(90deg);
      content: "";
    }
  }

  .main-visual-slider {
    .splide__slide {
      position: relative;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: auto;
      min-height: 100%;
      padding-block: 6.5rem;

      picture, img {
        height: 100%;
      }

      picture {
        position: absolute;
        display: block;
        inset: 0;
      }
    }

    .splide__pagination {
      position: static;

      >li {
        box-sizing: border-box;
        width: 1.75rem;
        height: 1.75rem;
        padding: 0.5rem;
      }

    }
  }
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .main-visual {
    min-height: var(--mv-height-pc, 38rem);

    .main-visual-slider {
      min-height: var(--mv-height-pc, 38rem);

      .splide__track,
      .splide__list,
      .splide__slide {
        min-height: calc(var(--mv-height-pc, 38rem) - var(--slider-controls-height));
      }
    }

    .main-visual-box {
      box-sizing: border-box;
      width: auto;
      max-width: 40rem;
      padding: 5rem 6.5rem;

      &.is-left {
        margin-right: auto;
        text-align: left;
      }

      &.is-center {
        margin-inline: auto;
        text-align: center;
      }

      &.is-right {
        margin-left: auto;
        text-align: right;
      }
    }

    .main-visual-catch {
      font-size: map.get(global.$font-scales, display-m);
    }

    .main-visual-links {
      display: flex;
      gap: calc(var(--col-gutter) / 2);
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;

      .button {
        flex: 1;
      }

      .main-visual-box.is-left & {
        justify-content: flex-start;
      }

      .main-visual-box.is-right & {
        justify-content: flex-end;
      }
    }

  }
}


/* ------------------------------
　　メインビジュアル（top-main-visual-ex01.html）
------------------------------ */
.main-visual-extend01 {
  position: relative;
  height: var(--mv-extend-height-sp);
  min-height: 20rem;
  overflow: hidden;

  .main-visual-filter {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(0 0 0 / 0%) 50%, #000 100%);
  }

  .main-visual-bg {
    width: 100%;
    height: 100%;

    .is-alone {
      animation: zoom 3s 0.3s 1 both;
      animation-duration: ease-out;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .main-visual-box {
    position: absolute;
    bottom: 5.5rem;
    left: 50%;
    z-index: 10;
    display: grid;
    gap: 1rem;
    box-sizing: border-box;
    width: calc(100vw - 2rem);
    max-width: 480px;
    color: var(--color-white);
    transform: translate(-50%, 0);
  }

  .main-visual-box-inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .main-visual-catch {
    margin: 0;
    font-weight: bold;
    font-size: map.get(global.$font-scales, heading-s);
    line-height: var(--line-height-base);
    animation: fade-in 0.3s 1.3s 1 both;
    will-change: transform, opacity;
  }

  .main-visual-catch-sub {
    margin: 0;
    font-weight: bold;
    font-size: map.get(global.$font-scales, body-m);
    line-height: var(--line-height-sm);
    animation: fade-in 0.3s 0.8s 1 both;
    will-change: transform, opacity;
  }

  .main-visual-links {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;

    .main-visual-ex-button {
      display: flex;
      align-items: center;
      height: 2rem;
      color: var(--color-white);
      font-weight: bold;
      text-decoration: none;

      .icon-button {
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
      }

      svg {
        background-color: transparent;
        border: 1px solid var(--color-white);

        path {
          stroke: var(--color-white);
        }
      }
    }
  }

  .main-visual-scroll {
    display: none;
  }

  .splide__controls {
    position: absolute;
    right: auto;
    bottom: 0;
    left: 1rem;
    z-index: 10;
    gap: 0;
    padding: 1.5rem 0;
  }

  .splide__pagination {
    position: relative;
    bottom: 0;
    padding-left: 0;
  }

  .pagination-page-extend01 {
    box-sizing: border-box;
    width: 40px;
    height: 20px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iNCIgdmlld0JveD0iMCAwIDI0IDQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PG1hc2sgaWQ9InBhdGgtMS1pbnNpZGUtMV85MTE4XzE0OCIgZmlsbD0id2hpdGUiPjxwYXRoIGQ9Ik0wIDBIMjRWNEgwVjBaIi8+PC9tYXNrPjxwYXRoIGQ9Ik0wIDBWLTFILTFWMEgwWk0yNCAwSDI1Vi0xSDI0VjBaTTI0IDRWNUgyNVY0SDI0Wk0wIDRILTFWNUgwVjRaTTAgMUgyNFYtMUgwVjFaTTIzIDBWNEgyNVYwSDIzWk0yNCAzSDBWNUgyNFYzWk0xIDRWMEgtMVY0SDFaIiBmaWxsPSJ3aGl0ZSIgbWFzaz0idXJsKCNwYXRoLTEtaW5zaWRlLTFfOTExOF8xNDgpIi8+PC9zdmc+") center no-repeat;
    border: 0;

    &.is-active {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iNCIgdmlld0JveD0iMCAwIDI0IDQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjQiIGZpbGw9IndoaXRlIi8+PC9zdmc+");
    }
  }

  .main-visual-scroll-link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    &:link,
    &:visited,
    &:active,
    &:focus {
      color: var(--color-white);
    }

    &:hover {
      opacity: 0.6;
    }

    &::after {
      display: inline-block;
      width: 0.5rem;
      height: 1rem;
      margin: 0.25rem 0 0;
      background-image: url(#{global.$root-theme-img + 'icon-button.svg' });
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform: rotate(90deg);
      content: "";
    }
  }
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .main-visual-extend01 {
    height: var(--mv-height-pc, 48rem);

    &.logo-center {
      height: var(--mv-logo-center-height-pc);
    }

    &.nav-bottom {
      height: var(--mv-nav-bottom-height-pc);
    }

    .main-visual-box {
      box-sizing: border-box;
      width: auto;
      max-width: 100%;
      padding: 1.5rem 5rem 2rem;

      &.is-left {
        left: 0;
        text-align: left;
        transform: translate(0, 0);
      }

      // &.is-center {}

      &.is-right {
        right: 0;
        left: auto;
        transform: translate(0, 0);
      }
    }

    .main-visual-catch {
      font-size: map.get(global.$font-scales, display-s);
    }

    .main-visual-catch-sub {
      font-size: map.get(global.$font-scales, heading-ss);
    }

    .main-visual-links {
      gap: var(--col-gutter);

      .main-visual-ex-button {
        height: 3rem;
        font-weight: bold;

        .icon-button {
          width: 3rem;
          height: 3rem;
        }

        &:hover {
          .icon-button {
            svg {
              background-color: var(--color-primary);
              border-color: var(--color-primary);
            }
          }
        }
      }

      .main-visual-box.is-left & {
        justify-content: flex-start;
      }

      .main-visual-box.is-right & {
        justify-content: flex-end;
      }
    }

    .splide__controls {
      left: 5rem;
    }

    .main-visual-scroll {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      display: block;
      width: fit-content;
      margin: 0 auto 2rem;
      font-weight: bold;
      text-align: center;
    }
  }
}


/* ------------------------------
　　メインビジュアル（top-main-visual-ex02.html）
------------------------------ */
.main-visual-extend02 {
  position: relative;
  height: var(--mv-height-sp, calc(100svh - 3.5rem));
  min-height: 20rem;
  overflow: hidden;

  .main-visual-bg {
    width: 100%;
    height: 100%;

    .is-alone {
      animation: zoom 3s 0.3s 1 both;
      animation-duration: ease-out;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  .main-visual-box {
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    gap: var(--col-gutter);
    box-sizing: border-box;
    width: calc(100vw - 2rem);
    max-width: 480px;
    color: var(--color-primary);
    transform: translate(-50%, -50%);
    place-content: center;
  }

  .main-visual-catch {
    display: inline;
    margin: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    color: var(--color-white);
    font-size: map.get(global.$font-scales, heading-m);
    line-height: var(--line-height-base);
    background: var(--color-primary);
    box-decoration-break: clone;
    animation: fade-in 0.3s 0.8s 1 both;
    will-change: transform, opacity;
  }

  .main-visual-text-grid {
    display: block;
    margin-top: 1rem;
  }

  .main-visual-catch-sub {
    display: inline;
    margin: 0;
    padding: 0.25rem 0.5rem;
    color: var(--color-white);
    font-weight: bold;
    font-size: map.get(global.$font-scales, body-m);
    line-height: 1.8;
    background: var(--color-gray100);
    box-decoration-break: clone;
    animation: fade-in 0.3s 1.3s 1 both;
    will-change: transform, opacity;
  }

  .main-visual-links {
    display: grid;
    gap: 1rem;
    margin-top: 1.5rem;

    .main-visual-ex-button {
      display: flex;
      align-items: center;
      height: 2rem;
      color: var(--color-white);
      font-weight: bold;
      text-decoration: none;

      .icon-button {
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
      }

      svg {
        background-color: transparent;
        border: 1px solid var(--color-white);

        path {
          stroke: var(--color-white);
        }
      }

    }
  }

  .splide__pagination {
    position: relative;
    bottom: 0;

    >li {
      box-sizing: border-box;
      width: 1.75rem;
      height: 1.75rem;
      padding: 0.5rem;
    }
  }
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .main-visual-extend02 {
    height: var(--mv-height-pc, 48rem);

    .main-visual-bg {
      img {
        display: block;
        width: 70% !important;
        margin-left: auto;
      }
    }

    .main-visual-box {
      box-sizing: border-box;
      width: auto;
      min-width: 434px;
      max-width: 100%;
      padding: 5.5rem 6.5rem;

      &.is-left {
        left: 0;
        text-align: left;
        transform: translate(0, -50%);
      }

      &.is-center {
        text-align: center;
      }

      &.is-right {
        right: 0;
        left: auto;
        text-align: right;
        transform: translate(0, -50%);
      }
    }

    .main-visual-catch {
      font-size: map.get(global.$font-scales, display-s);
    }

    .main-visual-catch-sub {
      font-size: map.get(global.$font-scales, heading-ss);
    }

    .main-visual-links {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      max-width: 434px;

      .main-visual-ex-button {
        height: 3rem;
        color: var(--color-primary);

        .icon-button {
          width: 3rem;
          height: 3rem;

          svg {
            background-color: var(--color-white);
            border: 1px solid var(--color-primary);

            path {
              stroke: var(--color-primary);
            }
          }
        }

        &:hover {
          .icon-button {
            svg {
              background-color: var(--color-primary);
              border-color: var(--color-primary);

              path {
                stroke: var(--color-white);
              }
            }
          }
        }
      }

      .main-visual-box.is-left & {
        justify-content: flex-start;
      }

      .main-visual-box.is-right & {
        justify-content: flex-end;
      }
    }

    .splide__controls {
      position: absolute;
      bottom: 0;
      left: 5rem;
      z-index: 10;
    }
  }
}
