@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　メインビジュアル内リンクボタン
------------------------------ */
.main-visual-links {
  display: grid;
  gap: 1rem;
  word-break: keep-all;

  .button {
    white-space: nowrap;
    word-break: keep-all;
  }

  @include acms.media-breakpoint-up(md) {
    display: flex;
    gap: calc(var(--col-gutter) / 2);
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    .button {
      flex: 1;
    }
  }
}

/* ------------------------------
　　メインビジュアル（デフォルト）
------------------------------ */
.main-visual {
  position: relative;
  box-sizing: content-box; /* スライダーページネーション用のpaddingを含めない */
  height: var(--mv-height-sp, calc(100svh - var(--header-height-fixed)));
  min-height: 20rem;

  &:has(.splide__controls) {
    /* スライダーページネーションの高さを確保 */
    padding-bottom: 5.125rem;
  }

  @include acms.media-breakpoint-up(md) {
    height: var(--mv-height-pc, 48rem);
  }

  .main-visual-filter {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(0 0 0 / 0%) 50%, #000 100%);
  }

  .main-visual-bg {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .is-alone {
      animation: zoom 3s 0.3s 1 both;
      animation-duration: ease-out;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .main-visual-box {
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    gap: 1.5rem;
    box-sizing: border-box;
    width: calc(100vw - 2rem);
    max-width: 480px;
    padding: 2rem;
    color: var(--color-primary);
    background: rgb(255 255 255 / 90%);
    transform: translate(-50%, -50%);
    place-content: center;

    @include acms.media-breakpoint-up(md) {
      gap: 2rem;
      box-sizing: border-box;
      width: auto;
      max-width: 40rem;
      padding-block: 4.5rem;
      padding-inline: 5rem;
      overflow: hidden;

      &.is-left {
        left: 0;
        text-align: left;
        transform: translate(0, -50%);

        .main-visual-links {
          justify-content: flex-start;
        }
      }

      &.is-center {
        text-align: center;
      }

      &.is-right {
        right: 0;
        left: auto;
        text-align: right;
        transform: translate(0, -50%);

        .main-visual-links {
          justify-content: flex-end;
        }
      }
    }

    @include acms.media-breakpoint-up(lg) {
      padding-block: 5rem;
      padding-inline: 6.5rem;
    }
  }

  .main-visual-catch {
    margin: 0;
    font-size: map.get(global.$font-scales, heading-l);
    line-height: var(--line-height-base);
    animation: fade-in 0.3s 0.8s 1 both;
    will-change: transform, opacity;

    @include acms.media-breakpoint-between(md, lg) {
      white-space: nowrap;
      word-break: keep-all;
    }

    @include acms.media-breakpoint-up(md) {
      font-size: map.get(global.$font-scales, heading-3xl);
    }
  }

  .main-visual-catch-sub {
    margin: 0;
    font-weight: bold;
    font-size: map.get(global.$font-scales, body-m);
    line-height: var(--line-height-base);
    animation: fade-in 0.3s 1.3s 1 both;
    will-change: transform, opacity;
  }

  .main-visual-scroll {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    font-weight: bold;
    text-align: center;
    animation: fade-in 0.3s 2.8s 1 both;
    will-change: transform, opacity;
  }

  .main-visual-scroll-link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    &,
    &:link,
    &:visited {
      color: var(--color-white);
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
      object-fit: contain;
      color: inherit;

      path {
        stroke: currentcolor;
      }
    }

    @media (hover: hover) {
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .main-visual-scroll-link-icon {
    line-height: 1;
  }
}

/* ------------------------------
　　メインビジュアル（main-visual-ex01.html）
------------------------------ */
.main-visual-extend01 {
  --main-visual-extend01-side-padding: 1rem;

  @include acms.media-breakpoint-up(sm) {
    --main-visual-extend01-side-padding: 2rem;
  }

  @include acms.media-breakpoint-up(md) {
    --main-visual-extend01-side-padding: 4rem;
  }

  @include acms.media-breakpoint-up(lg) {
    --main-visual-extend01-side-padding: 5rem;
  }
}

.main-visual-extend01 {
  position: relative;
  height: var(--mv-height-sp, calc(100svh - var(--header-height-fixed)));
  min-height: 20rem;
  overflow: hidden;

  &:has(.splide__controls) .main-visual-box {
    /* スライダーページネーション表示時のコンテンツボックス位置 */
    bottom: 9.5rem;
  }

  @include acms.media-breakpoint-up(md) {
    height: var(--mv-height-pc, 48rem);

    &:has(.splide__controls) .main-visual-box {
      /* スライダーページネーション表示時のコンテンツボックス位置 */
      bottom: 13rem;
    }
  }

  .main-visual-filter {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(0 0 0 / 0%) 50%, #000 100%);
  }

  .main-visual-bg {
    width: 100%;
    height: 100%;

    .is-alone {
      animation: zoom 3s 0.3s 1 both;
      animation-duration: ease-out;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .main-visual-box {
    position: absolute;
    bottom: 6rem; /* スライダーページネーションがない時のコンテンツボックス位置 */
    left: 0;
    z-index: 10;
    display: grid;
    gap: 1.5rem;
    box-sizing: border-box;
    padding-inline: var(--main-visual-extend01-side-padding);
    max-width: 480px;
    color: var(--color-white);

    @include acms.media-breakpoint-up(md) {
      bottom: 8rem; /* スライダーページネーションがない時のコンテンツボックス位置 */
      box-sizing: border-box;
      width: auto;
      max-width: 100%;
    }
  }

  .main-visual-box-inner {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include acms.media-breakpoint-up(md) {
      gap: 1rem;
    }
  }

  .main-visual-catch {
    margin: 0;
    font-weight: bold;
    font-size: map.get(global.$font-scales, heading-s);
    line-height: var(--line-height-base);
    animation: fade-in 0.3s 1.3s 1 both;
    will-change: transform, opacity;

    @include acms.media-breakpoint-up(sm) {
      font-size: map.get(global.$font-scales, heading-2xl);
    }

    @include acms.media-breakpoint-up(md) {
      font-size: map.get(global.$font-scales, heading-3xl);
    }
  }

  .main-visual-catch-sub {
    margin: 0;
    font-weight: bold;
    font-size: map.get(global.$font-scales, body-m);
    line-height: var(--line-height-base);
    animation: fade-in 0.3s 0.8s 1 both;
    will-change: transform, opacity;

    @include acms.media-breakpoint-up(sm) {
      font-size: map.get(global.$font-scales, body-l);
    }
  }

  .splide__controls {
    position: absolute;
    z-index: 10;
    height: auto;
    margin-block: 0 6rem;
    inset: auto auto 0 0;
    padding-inline: var(--main-visual-extend01-side-padding);

    @include acms.media-breakpoint-up(md) {
      margin-block-end: 8rem;
    }
  }

  .pagination-page-extend01 {
    display: grid;
    box-sizing: border-box;
    width: 2.5rem;
    height: 1.75rem;
    margin: 0;
    padding: 0;
    background-color: transparent;
    place-items: center;
    border: 0;

    &,
    &:hover {
      opacity: 1; /* リセット */
    }

    &::after {
      box-sizing: border-box;
      width: 1.5rem;
      height: 0.25rem;
      background-color: transparent;
      border: 1px solid var(--color-white);
      content: "";

      @media (hover: hover) {
        transition: background-color 0.25s ease;
      }
    }

    @media (hover: hover) {
      &:hover::after {
        background-color: var(--color-gray20);
      }
    }

    &.is-active {
      transform: none;

      &::after {
        background-color: var(--color-white);
      }

      @media (hover: hover) {
        &:hover::after {
          background-color: var(--color-gray20);
        }
      }
    }
  }

  .splide__toggle {
    background-color: transparent;
  }

  .main-visual-scroll {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: fit-content;
    margin-block: 0 1.5rem;
    margin-inline: auto;
    font-weight: bold;
    text-align: center;

    @include acms.media-breakpoint-up(md) {
      margin-block-end: 2rem;
    }
  }

  .main-visual-scroll-link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    &,
    &:link,
    &:visited {
      color: var(--color-white);
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
      object-fit: contain;
      color: inherit;

      path {
        stroke: currentcolor;
      }
    }

    @media (hover: hover) {
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .main-visual-scroll-link-icon {
    line-height: 1;
  }
}

/* ------------------------------
　　メインビジュアル（main-visual-ex02.html）
------------------------------ */
.main-visual-extend02 {
  --main-visual-extend02-side-padding: 1rem;

  @include acms.media-breakpoint-up(sm) {
    --main-visual-extend02-side-padding: 2rem;
  }

  @include acms.media-breakpoint-up(md) {
    --main-visual-extend02-side-padding: 4rem;
  }

  @include acms.media-breakpoint-up(lg) {
    --main-visual-extend02-side-padding: 5rem;
  }
}

.main-visual-extend02 {
  position: relative;
  box-sizing: content-box; /* スライダーページネーション用のpaddingを含めない */
  height: var(--mv-height-sp, calc(100svh - var(--header-height-fixed)));
  min-height: 20rem;

  @include acms.media-breakpoint-up(md) {
    height: var(--mv-height-pc, 48rem);

    &:has(.splide__controls) .main-visual-box {
      /* スライダーページネーション表示時のコンテンツボックス位置 */
      bottom: 14.25rem;
    }
  }

  .main-visual-bg {
    width: 100%;
    height: 100%;

    .is-alone {
      animation: zoom 3s 0.3s 1 both;
      animation-duration: ease-out;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include acms.media-breakpoint-up(md) {
        display: block;
        width: 70% !important;
        margin-left: auto;
      }
    }
  }

  .main-visual-box {
    position: absolute;
    top: 50%;
    left: 0;
    display: grid;
    gap: 2rem;
    box-sizing: border-box;
    padding-inline: var(--main-visual-extend02-side-padding);
    max-width: 480px;
    color: var(--color-primary);
    transform: translateY(-50%);

    @include acms.media-breakpoint-up(md) {
      top: auto;
      bottom: 8rem; /* スライダーページネーションがない時のコンテンツボックス位置 */
      gap: 4rem;
      box-sizing: border-box;
      width: auto;
      max-width: 100%;
      transform: none;
    }
  }

  .main-visual-catch {
    display: inline;
    margin: 0;
    padding-inline: 0.5rem;
    color: var(--color-white);
    font-size: map.get(global.$font-scales, heading-m);
    line-height: var(--line-height-base);
    background: var(--color-primary);
    box-decoration-break: clone;
    animation: fade-in 0.3s 0.8s 1 both;
    will-change: transform, opacity;

    @include acms.media-breakpoint-up(sm) {
      font-size: map.get(global.$font-scales, heading-2xl);
      padding-inline: 1rem;
    }

    @include acms.media-breakpoint-up(md) {
      font-size: map.get(global.$font-scales, heading-3xl);
    }
  }

  .main-visual-catch-sub-wrap {
    margin-top: 1rem;

    @include acms.media-breakpoint-up(md) {
      margin-top: 1.5rem;
    }
  }

  .main-visual-catch-sub {
    display: inline;
    margin: 0;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    color: var(--color-white);
    font-weight: bold;
    font-size: map.get(global.$font-scales, body-m);
    line-height: 1.8;
    background: var(--color-gray100);
    box-decoration-break: clone;
    animation: fade-in 0.3s 1.3s 1 both;
    will-change: transform, opacity;

    @include acms.media-breakpoint-up(sm) {
      font-size: map.get(global.$font-scales, body-l);
      padding-inline: 1rem;
    }
  }

  .splide__controls {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: auto;
    transform: translateX(-50%);
    margin-block: 0 4.5rem;
    inset: auto 0 0 50%;

    @include acms.media-breakpoint-up(sm) {
      margin-block-end: 6rem;
    }

    @include acms.media-breakpoint-up(md) {
      width: auto;
      transform: none;
      margin-block-end: 8rem;
      inset: auto auto 0 0;
      padding-inline: var(--main-visual-extend02-side-padding);
    }
  }

  .main-visual-scroll {
    position: absolute;
    z-index: 10;
    display: block;
    width: fit-content;
    font-weight: bold;
    text-align: center;
    transform: translateX(-50%);
    inset: auto 0 0 50%;
    margin-block: 0 1.5rem;
    padding-inline: var(--main-visual-extend02-side-padding);

    @include acms.media-breakpoint-up(md) {
      margin-block-end: 2rem;
      inset: auto auto 0 0;
      transform: none;
      padding-inline: var(--main-visual-extend02-side-padding);
    }
  }

  .main-visual-scroll-link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    &,
    &:link,
    &:visited {
      color: var(--color-white);
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
      object-fit: contain;
      color: inherit;

      path {
        stroke: currentcolor;
      }
    }

    @media (hover: hover) {
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.6;
      }
    }

    @include acms.media-breakpoint-up(md) {
      &,
      &:link,
      &:visited {
        color: var(--color-primary);
      }
    }
  }

  .main-visual-scroll-link-icon {
    line-height: 1;
  }
}
