@use "sass:math";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　関連サイト
------------------------------ */
.news-banner-carousel {
  padding-inline: 1rem; /* スライダー送り矢印ボタンが画面から見切れないよう余白を確保 */

  .splide__track {
    /* box-shadow分の余白を確保 */
    margin: -0.5rem !important;
    padding: 0.5rem !important;
  }

  .splide__arrow {
    top: 50%;
    width: 2rem;
    height: 2rem;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    transform: translateY(-2rem);
    opacity: 1;

    svg {
      width: 1rem;
      height: 1rem;

      path {
        fill: transparent;
        stroke: var(--color-gray80);
      }

      .splide__arrow--prev & {
        transform-origin: top;
      }
    }

    &:hover:not(:disabled) {
      opacity: 1; /* リセット */
    }

    @media (hover: hover) {
      transition: box-shadow 0.3s ease;

      &:hover:not(:disabled) {
        box-shadow: var(--box-shadow-hover);
      }
    }
  }

  .splide__arrow--prev {
    left: 0;
  }

  .splide__arrow--next {
    right: 0;
  }

  .splide__pagination {
    margin-top: 1rem;
  }
}

@include acms.media-breakpoint-up(sm) {
  .news-banner-carousel {
    padding-inline: 0;

    .splide__arrow--prev {
      left: -1rem;
    }

    .splide__arrow--next {
      right: -1rem;
    }
  }
}

@include acms.media-breakpoint-up(md) {
  .news-banner-carousel {
    .splide__arrow {
      width: 3rem;
      height: 3rem;
      transform: translateY(-1.5rem);

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .splide__arrow--prev {
      left: -1.5rem;
    }

    .splide__arrow--next {
      right: -1.5rem;
    }
  }
}