@use "sass:math";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　関連サイト
------------------------------ */


.news-banner-carousel {
  padding: 0 1rem;

  &.splide {
    .splide__slide {
      overflow: hidden;
      border-radius: var(--border-radius-lg);

      img {
        box-shadow: var(--box-shadow);
      }
    }

    .splide__pagination {
      bottom: -1rem;
      transform: translateY(100%);

      >li {
        box-sizing: border-box;
        width: 1.75rem;
        height: 1.75rem;
        padding: 0.5rem;
      }
    }

    .splide__arrow--prev {
      left: -0.5rem
    }
  }



}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .news-banner-carousel {
    padding: 0;

    .splide__pagination {
      bottom: -2.75rem;
      gap: 0.25rem;
      padding: 1rem 0 0;
      transform: translateY(0);
    }
  }
}