@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* 検索フォーム（大）
------------------------------ */

.form-search {
  .form-search-action {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    text-align: center;

  }

  .form-search-label {
    margin-right: 1rem;
    font-weight: bold;
    font-size: map.get(global.$font-scales, body-s);
    line-height: 3rem;
    white-space: nowrap;
  }

  input.form-search-input {
    flex: 1 1 auto;
    box-sizing: border-box;
    height: 3rem;
    padding: 0.75rem 1rem;
    font-size: map.get(global.$font-scales, body-m);
    background: var(--color-white);
    border: var(--border-width-sm) solid var(--color-gray30);
    border-radius: var(--border-radius-md);
    transition: background-color 0.25s ease;
    appearance: none;

    &:hover {
      background: var(--color-white);
      border-color: var(--color-gray50);
    }

    &:focus {
      background: var(--color-white);
      border-color: acms.$acms-form-focus-border-color;
      outline: none;
      box-shadow: var(--box-shadow-focus), acms.$acms-form-box-shadow;
    }
  }


  .form-search-side-button {
    display: flex;
    white-space: nowrap;
  }

  .form-search-button {
    width: initial;
    padding: 0.75rem 2rem;
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    .form-search-button {
      padding: 0.75rem 2rem;
    }
  }
}

/* 検索結果 */

.search-result-heading {
  .form-search-label {
    display: none;
  }
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .search-result-heading {
    .form-search-action {
      max-width: 50%;
    }

    .form-search-button {
      min-width: initial;
    }
  }
}

.result-text {
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.result-button {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem 1rem 2rem;

}