@use "sass:map";
@use "sass:math";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　サイドセクション
------------------------------ */

.section-side-col {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: var(--col-gutter);
}

@include acms.media-breakpoint-up(lg) {
  .section-side-col {
    width: auto;
    padding-right: calc(var(--unit-gutter-var) / 4);
    padding-left: calc(var(--unit-gutter-var) / 4);

    @if global.$enable-iphonex == true {
      padding-right: calc(env(safe-area-inset-right) + (var(--unit-gutter-var) / 4));
      padding-left: calc(env(safe-area-inset-left) + (var(--unit-gutter-var) / 4));
    }

    &.is-fix {
      flex: 0 1 auto;
    }

    &.is-full {
      flex: 1 1 auto;
    }

    &.is-fix+.section-side-col.is-full {
      flex-basis: min-content;
      min-width: 30%;
    }
  }
}

.section-side {
  line-height: 1.5;

  .tag-list {
    margin: 0.75rem calc(var(--unit-gutter-var) / -4);

    .tag-link {
      padding: 0.25rem 0.5rem;

      &:hover {
        background: var(--color-hover-bg-2nd);
      }
    }
  }
}

.section-side-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.-calendar {
    margin: 0 0 0.5rem;
  }

  .calendar-next-prev-button {
    display: flex;
    gap: 1rem;
  }
}

.section-side-title {
  margin: 0;
  padding-bottom: 0.25rem;
  font-size: map.get(global.$font-scales, heading-ss);

}


.section-side-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  color: var(--color-text);
  font-weight: bold;
  font-size: map.get(global.$font-scales, body-s);
  text-decoration: none;


  &:hover {
    text-decoration: underline;
  }

  .icon-button {
    margin: 0 0 0 0.5rem;
  }
}

.summary-side-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1.5rem;
  padding: 0.5rem 0 0;
  list-style: none;
}

.summary-side-item {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin: 0;
}

.summary-side-link {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template-rows: 1fr;
  grid-template-columns: 6rem 1fr;
  width: 100%;
  padding: 0.5rem 0;
  text-decoration: none;
  transition: background-color 0.2s ease;

  &:hover {
    background: var(--color-hover-bg-2nd);
  }

}

.summary-side-img-wrap {
  display: flex;
  grid-area: 1 / 1 / 2 / 2;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--border-radius-md);
  aspect-ratio: 1 / 1;

  .noimage {
    max-width: initial;
    height: 100%;
  }
}

.summary-side-title {
  display: -webkit-box;
  margin: 0;
  overflow: hidden;
  color: var(--color-black);
  font-size: map.get(global.$font-scales, body-m);
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.summary-side-date {
  display: inline-block;
  margin: 0;
  color: var(--color-text-2nd);
  font-size: map.get(global.$font-scales, body-s);

}
