@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　サイドセクション
------------------------------ */
.section-side-layout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section-side-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.section-side-title {
  margin-block: 0;
  font-size: map.get(global.$font-scales, heading-ss);
}

.summary-side-list {
  display: flex;
  flex-wrap: wrap;
  margin-block: 0;
  padding-inline-start: 0;
  list-style: none;
}

.summary-side-item {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin: 0;
}

.summary-side-link {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template-rows: 1fr;
  grid-template-columns: 6rem 1fr;
  width: 100%;
  padding: 0.5rem 0;
  text-decoration: none;
  transition: background-color 0.2s ease;

  &:hover {
    background: var(--color-hover-bg-2nd);
  }
}

.summary-side-img-wrap {
  display: flex;
  grid-area: 1 / 1 / 2 / 2;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--border-radius-md);
  aspect-ratio: 1 / 1;

  .noimage {
    max-width: initial;
    height: 100%;
  }
}

.summary-side-title {
  display: -webkit-box;
  margin: 0;
  overflow: hidden;
  color: var(--color-black);
  font-size: map.get(global.$font-scales, body-m);
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.summary-side-date {
  display: inline-block;
  margin: 0;
  color: var(--color-text-2nd);
  font-size: map.get(global.$font-scales, body-s);
}
