@use "../variables" as var;

// リンク
@mixin entry-link($color, $border) {
  padding: 2px 0;
  color: $color;
  text-decoration: none;
  border-bottom: $border;

  &:hover {
    border-color: transparent;
  }

  &[href^="tel:"] {
    color: currentcolor;
    border-bottom: var.$border-width-sm dashed;

    &:hover {
      border-color: transparent;
    }
  }
}
