<!-- BEGIN_MODULE Entry_Body id="{{module_id}}" -->
<ul class="faq-list not-editor-style">
  <!-- BEGIN entry:loop -->
  <li class="toggle faq js-toggle">
    <h3 class="faq-question">
      <button type="submit" class="toggle-button faq-question-button js-toggle-button" aria-expanded="false" aria-controls="answer{eid}">
        <span class="faq-icon">Q</span>
        <span class="faq-title">{title}</span>
        <span class="toggle-icon" aria-hidden="false">
          <img src="/images/icon-chevron-down.svg" alt="">
        </span>
      </button>
    </h3>
    <div id="answer{eid}" class="toggle-body js-toggle-body" aria-hidden="true">
      <div class="faq-answer">
        <p class="faq-icon">A</p>
        <div class="faq-body">
          <section class="{entry:loop.class}">
            @include("/admin/entry/title.html")
            <!-- BEGIN entry-column:veil -->
            <div class="acms-entry entry-style">
              <div>
                <!-- BEGIN unit:veil -->
                @include("/include/unit.html")
                <!-- END unit:veil -->
                <!-- 続きを読む -->
                @include("/include/parts/continue.html")
              </div>
            </div>
            <!-- END entry-column:veil -->
            @include("/admin/entry/edit-%{IS_ADMIN}.html")
          </section>
        </div>
      </div>
    </div>
  </li>
  <!-- END entry:loop -->
</ul>
<!-- END_MODULE Entry_Body -->
