<!-- BEGIN_MODULE Entry_Body id="{{module_id}}" --><!-- BEGIN moduleField -->
<section class="section js-animation not-editor-style">
  @include("/include/edit/module-custom.html",{"hash":"#acms_box3"})
  <header class="section-vertical-header">
    <h2 class="section-vertical-heading">{module-heading}</h2>
    <p class="section-vertical-text">{module-heading-small}</p>
  </header>
<div class="{container-type}">
<!-- END moduleField -->
<!-- BEGIN entry:loop -->
<article class="entry {entry:loop.class}">
  @include("/admin/entry/title.html")

    <!-- BEGIN entry:veil -->
    <div class="acms-entry entry-style">
      <div>
        <!-- BEGIN unit:veil -->
        @include("/include/unit.html")
        <!-- END unit:veil -->
      </div>
    </div>
    <!-- END entry:veil -->
<!-- BEGIN_MODULE Touch_SessionWithCompilation -->
<p><a href="%{HOME_URL}bid/{entry:loop.bid}<!-- BEGIN_IF [{entry:loop.cid}/nem] -->/cid/{entry:loop.cid}<!-- END_IF -->/eid/{entry:loop.eid}/admin/entry-edit/" class="acms-btn">編集</a></p>
<!-- END_MODULE Touch_SessionWithCompilation -->
</article>
<!-- END entry:loop -->
</div>
</section>
<!-- END_MODULE Entry_Body -->
