/* ------------------------------
　　CSS変数
------------------------------ */
:root {

/* カラー */
--color-primary         : #222222;
--color-primary-hover   : #525252;
--color-primary-light   : #e5f5ff;
--color-primary-light30   : #CEE9FB;
--color-primary-bg      : var(--color-primary-light);
--color-primary-bg-hover      : var(--color-primary-light30);

--color-secondary       : #6A6A6A;

--color-tertiary       : #FFE13B;
--color-tertiary-light : #fffb8b;

--color-white           : #FFF;
--color-black           : #333333;

--color-gray10          : #F8F8F8;
--color-gray20          : #F4F4F4;
--color-gray30          : #EBEBEB;
--color-gray40          : #DDDDDD;
--color-gray50          : #CCCCCC;
--color-gray60          : #AAAAAA;
--color-gray70          : #999999;
--color-gray80          : #777777;
--color-gray90          : #666666;
--color-gray100         : #333333;

--color-form-bg         : var(--color-gray10);
--color-form-border     : var(--color-gray40);

--color-link            : #0061d1;

--color-required        : #c92d2d;
--color-error           : #c92d2d;

--color-text            : var(--color-gray100);
--color-text-side       : var(--color-gray90);
--color-text-inverse    : var(--color-white);

--color-text-primary    : var(--color-primary);
--color-text-secondary  : var(--color-secondary);

--color-text-point      : #676767;

--box-shadow-focus      : 0 0 0 .15rem rgba(19, 122, 243, .4);
--box-shadow-error      : 0 0 0 .15rem rgba(201, 45, 45, .4);

  /* 余白 */
  --gutter-sm : 1rem;
  --gutter-md : 2rem;

  /* 余白ユニット */
  --unit-space-large: 4rem;
  --unit-space-medium: 2.5rem;
  --unit-space-small: 1.5rem;

  /* 罫線ユニット余白 */
  --separator-large: 4rem;
  --separator-medium: 2.5rem;
  --separator-small: 1.5rem;
}
