@use "sass:map";
@use "../global/acms-common" as acms;
@use "../global/common" as global;

/* ------------------------------
　　イベント
------------------------------ */

/* イベント一覧
------------------------------ */

/* 日時 と 背景付きラベルの縦積みレイアウト */
.event-card-labels-layout {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* イベント一覧用日付 */
.event-card-date {
  color: var(--color-text-2nd);
  font-size: map.get(global.$font-scales, body-m);
  line-height: var(--line-height-base);
}

/* イベント一覧用時間 */
.event-card-time {
  color: var(--color-text);
  font-size: map.get(global.$font-scales, body-m);
  line-height: var(--line-height-base);
}


/* イベント詳細
------------------------------ */

/* 開催日時・都道府県ラベル・Newラベル全体のレイアウト設定 */
.event-entry-header-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--color-text-2nd);
  font-size: map.get(global.$font-scales, body-m);

  @include acms.media-breakpoint-up(md) {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
}

.event-entry-header-date-label {
  margin-right: 0.5rem;
  color: var(--color-primary);
  font-weight: bold;
  font-size: map.get(global.$font-scales, body-m);
  line-height: var(--line-height-base);
}

.event-entry-header-datetime {
  font-size: map.get(global.$font-scales, body-m);
  line-height: var(--line-height-base);
}

/* メイン画像 */
.event-main-image {
  margin: 0 0 2rem;
}

/* 「Googleマップで見る」リンク */
.event-googlemap-link {
  position: relative;

  svg {
    position: absolute;
    right: -28px;
    vertical-align: text-bottom;

    path {
      fill: currentcolor;
    }
  }
}
