@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* 物件一覧
----------------------------- */

.works-main-image {
  padding: 0 calc(var(--unit-gutter-var) / 2) 2rem;

  img {
    max-width: 100%;
    height: auto;
  }
}

.works-search-panel {
  background: var(--color-gray10);
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  border-radius: var(--border-radius-xl);

  .form-checkbox {
    width: 50%;
  }
}

.work-search-group {
  display: flex;
  flex-direction: column;
  gap: var(--col-gutter);
}

.work-search-item {
  width: 100%;
}

.work-search-label {
  display: inline-block;
  min-width: 8rem;
  margin-bottom: 1rem;
  padding: 0.75rem 0;
  font-weight: bold;
}

.work-search-input {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0;
  align-items: center;

  &.price {
    width: 100%;
    flex-direction: column;
  }
}

.work-search-keyword {
  width: 100%;
}

.work-search-footer {
  text-align: center;
}

@media (min-width: acms.$breakpoint-md-min) {
  .works-search-panel {
    margin-bottom: 3rem;

    padding: 3rem;
    border-radius: var(--border-radius-xxl);

    .form-checkbox {
      width: calc(100% / 3 - 2rem);
    }

    .work-search-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--col-gutter);
    }

    .work-search-item {
      display: flex;
      gap: var(--col-gutter);
      align-items: center;
    }

    .work-search-label {
      margin-bottom: 0;
    }

    .work-search-input {
      gap: 1.5rem;
      flex: 1;

      &.price {
        flex-direction: row;

        select {
          flex: 1;
        }
      }
    }
  }

  .works-sub-images {
    display: flex;
    justify-content: space-between;
    gap: var(--col-gutter);
  }
}