@forward "../../../../system/src/scss/global/variables" with (
  $unit-gutter : 2rem,
  $entry-class : entry-style,
  $unit-margin-bottom : 2rem,
  $grid-space : 2rem,
);
@forward "../../../../system/src/scss/global/mixins";
