<!-- BEGIN_MODULE Entry_Summary id="{{module_id}}" -->
<div class="not-editor-style">
  @include("/include/edit/module-custom-box2.html")
  <ul class="card-bordered-list entry-reset acms-cssgrid<!-- BEGIN_IF [{parent.loop.class}/nem] --> {parent.loop.class}<!-- ELSE --> acms-g-cols-1 acms-g-cols-md-2<!-- END_IF -->">
    <!-- BEGIN unit:loop -->
    <!-- BEGIN entry:loop -->
    <li class="card-bordered-item">
      <div class="card-bordered">
        <a href="{url}" class="card-bordered-link">
          <div class="card-bordered-img-wrap">
            <!-- BEGIN_IF [{path}/nem] -->
            <img
              src="%{ROOT_DIR}{path}[resizeImg(580,220)]"
              width="580"
              height="220"
              alt="{path@alt}"
              class="acms-img-responsive card-bordered-img"
              loading="lazy"
              decoding="async"
            >
            <!--  ELSE_IF [{path}/nem] -->
            <img
              src="%{ROOT_DIR}{path}[resizeImg(580,220)]"
              width="580"
              height="220"
              alt="{alt}"
              class="acms-img-responsive card-bordered-img"
              loading="lazy"
              decoding="async"
            ><!-- END_IF -->
          </div>
          <div class="card-bordered-text-wrap card-bordered-text-inline">
            <h3 class="card-bordered-title">{title}</h3>
          </div>
        </a>
      </div>
    </li><!-- END entry:loop -->
    <!-- END unit:loop -->
  </ul>
</div>
<!-- END_MODULE Entry_Summary -->
