<!-- BEGIN_MODULE Entry_Summary -->
<div class="not-editor-style">
  @include("/include/edit/module-custom-box2.html")

  <!-- BEGIN notFound -->
  <p class="text-notfound-article">お探しの記事は見つかりませんでした。</p>
  <!-- END notFound -->

  <!-- BEGIN entry_list:veil -->
  <ul class="acms-ps-0 acms-cssgrid<!-- BEGIN_IF [{parent.loop.class}/nem] --> {parent.loop.class}<!-- ELSE --> acms-g-cols-1 acms-g-cols-md-2<!-- END_IF -->" style="--acms-gap: var(--col-gutter); --card-img-aspect-ratio: 5 / 2; list-style-type: '';">
    <!-- BEGIN entry:loop -->
    <li class="js-animation-row">
      <a href="{url}" class="card-bordered-link">
        <div class="card-bordered">
          <div class="card-bordered-img-wrap">
            <!-- BEGIN_IF [{path}/nem] -->
            <img
              src="%{ROOT_DIR}{path}[resizeImg(800)]"
              width="800"
              height="{path}[imageRatioSizeH(800)]"
              alt="{path@alt}"
              class="card-bordered-img"
              loading="lazy"
              decoding="async"
            >
            <!-- ELSE -->
            <img
              src="/images/noimage.png"
              alt=""
              width="1200"
              height="675"
              class="card-bordered-img"
              loading="lazy"
              decoding="async"
            ><!-- END_IF -->
          </div>
          <div class="card-bordered-text-layout">
            <h3 class="card-bordered-title">{title}</h3>
          </div>
        </div>
      </a>
    </li>
    <!-- END entry:loop -->
  </ul>
  <!-- END entry_list:veil -->
</div>
<!-- END_MODULE Entry_Summary -->
