<!-- BEGIN_MODULE Entry_Summary id="{{module_id}}" --><!-- BEGIN moduleField -->
<section class="section js-animation not-editor-style {section-class}">
  <div class="acms-container">
    @include("/include/edit/module-custom-box2.html",{"hash":"#acms_box3"})
    <header class="section-vertical-header">
      <h2 class="section-vertical-heading">{module-heading}</h2>
      <p class="section-vertical-text">{module-heading-small}</p>
    </header><!-- END moduleField -->
    <div class="section-vertical-main">
      <ul class="card-bordered-list acms-cssgrid<!-- BEGIN_IF [{parent.loop.class}/nem] --> {parent.loop.class}<!-- ELSE --> acms-g-cols-1 acms-g-cols-md-2<!-- END_IF -->">
        <!-- BEGIN unit:loop -->
        <!-- BEGIN entry:loop -->
        <li class="card-bordered-item js-animation-row">
          <div class="card-bordered">
            <a href="{url}" class="card-bordered-link">
              <div class="card-bordered-img-wrap">
                <img
                  src="%{ROOT_DIR}{path}[resizeImg(580,220)]"
                  alt="{path@alt}"
                  width="580"
                  height="220"
                  class="acms-img-responsive card-bordered-img"
                  loading="lazy"
                  decoding="async"
                >
              </div>
              <div class="card-bordered-text-inline">
                <h3 class="card-bordered-title">{title}</h3>
              </div>
            </a>
          </div>
        </li><!-- END entry:loop -->
        <!-- END unit:loop -->
      </ul>
    </div>
  </div>
</section><!-- END_MODULE Entry_Summary -->
