<!-- BEGIN_MODULE Entry_Summary id="{{module_id}}" --><!-- BEGIN moduleField -->
<section class="section-pt<!-- BEGIN_IF [{section-class}/eq/is-bg] --> section-pb section-bg-color<!-- ELSE --> section-mb<!-- END_IF --> js-animation not-editor-style">
  <div class="acms-container">
    @include("/include/edit/module-custom-box2.html",{"hash":"#acms_box3"})

    <!-- BEGIN module-heading:veil -->
    <header class="section-vertical-header">
      <h2 class="section-vertical-heading">{module-heading}</h2>
      <!-- BEGIN module-heading-small:veil -->
      <p class="section-vertical-text">{module-heading-small}</p>
      <!-- END module-heading-small:veil -->
    </header>
    <!-- END module-heading:veil --><!-- END moduleField -->

    <!-- BEGIN notFound -->
    <p class="result-text">お探しの記事は見つかりませんでした。</p>
    <!-- END notFound -->

    <div class="section-vertical-main">
      <ul class="card-list acms-cssgrid<!-- BEGIN_IF [{parent.loop.class}/nem] --> {parent.loop.class}<!-- ELSE --> acms-g-cols-1 acms-g-cols-md-2<!-- END_IF -->" style="--acms-gap: var(--col-gutter);"><!-- BEGIN unit:loop -->
        <!-- BEGIN entry:loop -->
        <li class="js-animation-row card-item">
          <div class="card is-lg">
            <a href="{url}" class="card-link">
              <div class="card-link-inner">
                <div class="card-img-wrap">
                  <img
                    src="%{ROOT_DIR}{path}[resizeImg(580,345)]"
                    width="580"
                    height="345"
                    alt="{path@alt}"
                    class="acms-img-responsive card-img"
                    loading="lazy"
                    decoding="async"
                  >
                </div>
                <div class="card-text-wrap">
                  <h3 class="card-title">{title}</h3>
                  <p class="card-text">{page-description}</p>
                  <div class="card-action">
                    <p class="card-read-more">詳しく知る <span class="icon-button">@include("/images/icon-button.svg")</span></p>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </li><!-- END entry:loop -->
        <!-- END unit:loop -->
      </ul>
    </div>
  </div>
</section>
<!-- END_MODULE Entry_Summary -->
