<!-- BEGIN_MODULE Entry_Summary id="{{module_id}}" --><!-- BEGIN moduleField -->
<section class="section-pt<!-- BEGIN_IF [{section-class}/eq/is-bg] --> section-pb section-bg-color<!-- ELSE --> section-mb<!-- END_IF --> js-animation not-editor-style">
  <div class="acms-container">
    @include("/include/edit/module-custom-box2.html",{"hash":"#acms_box3"})
    <!-- BEGIN module-heading:veil -->
    <header class="section-vertical-header">
      <h2 id="summary_blog" class="section-vertical-heading">{module-heading}</h2>
      <!-- BEGIN module-heading-small:veil -->
      <p class="section-vertical-text">{module-heading-small}</p>
      <!-- END module-heading-small:veil -->
    </header>
    <!-- END module-heading:veil -->
    <div>
      <div class="{card-carousel}"><!-- END moduleField -->
        <ul class="card-list acms-cssgrid<!-- BEGIN_IF [{parent.loop.class}/nem] --> {parent.loop.class}<!-- ELSE --> acms-g-cols-1 acms-g-cols-sm-2 acms-g-cols-md-4<!-- END_IF -->">
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="js-animation-row card-item">
            <div class="card">
              <a href="{url}" class="card-link">
                <div class="card-link-inner">
                  <div class="card-img-wrap">
                    <!-- BEGIN image:veil -->
                    <img
                      src="%{ROOT_DIR}{path}[resizeImg(455,256)]"
                      alt="{alt}"
                      width="455"
                      height="256"
                      class="acms-img-responsive card-img"
                      loading="lazy"
                      decoding="async"
                    >
                    <!-- END image:veil -->
                    <!-- BEGIN noimage -->
                    <img
                      src="/images/noimage.png"
                      alt="noimage画像"
                      class="acms-img-responsive card-img"
                      width="455"
                      height="256"
                      loading="lazy"
                      decoding="async"
                    >
                    <!-- END noimage -->
                  </div>
                  <div class="card-text-wrap">
                    <!-- BEGIN label_box:veil -->
                    <div class="card-label-box">
                      <!-- BEGIN date:veil -->
                      <time class="card-date" datetime="{date#Y}-{date#m}-{date#d}">{date#Y}年{date#n}月{date#j}日（{date#week}）<!-- BEGIN new --><span class="label">New</span><!-- END new --></time>
                      <!-- END date:veil -->
                      <!-- BEGIN category:veil --><!-- BEGIN categoryField -->
                      <p class="card-category acms-w-100">{fieldCategoryName}</p><!-- END categoryField --><!-- END category:veil -->
                    </div>
                    <!-- END label_box:veil -->
                    <h2 class="card-title">{title}</h2>
                    <!-- BEGIN summary:veil -->
                    <p class="card-text">{summary}[trim(60, '...')]</p><!-- END summary:veil -->
                    <!-- BEGIN tag:veil -->
                    <!-- BEGIN tag:veil -->
                    <ul class="tag-sm-list">
                      <!-- BEGIN tag:loop -->
                      <li class="tag-sm-item">#{name}</li>
                      <!-- END tag:loop -->
                    </ul>
                    <!-- END tag:veil -->
                    <!-- BEGIN userField -->
                    <p class="card-author">
                      <!-- BEGIN_IF [{image@path}/nem] -->
                      <img
                        src="%{HTTP_MEDIA_ARCHIVES_DIR}{image@path}[resizeImg(30,30)]"
                        width="30"
                        height="30"
                        class="card-author-img"
                        alt="{fieldUserName}のアイコン"
                        loading="lazy"
                        decoding="async"
                      >{fieldUserName}
                      <!-- ELSE -->
                      <img
                        src="{fieldUserIcon}"
                        width="30"
                        height="30"
                        class="card-author-img"
                        alt="{fieldUserName}のアイコン"
                        loading="lazy"
                        decoding="async"
                      >{fieldUserName}
                      <!-- END_IF -->
                    </p>
                    <!-- END userField -->
                  </div>
                </div>
              </a>
            </div>
          </li><!-- END entry:loop -->
          <!-- END unit:loop -->
        </ul>
      </div>
    </div>

    <p class="section-button"><a href="{indexUrl}" class="button is-width-lg is-bordered"><!-- BEGIN_IF [{indexCategoryName}/nem] -->{indexCategoryName}<!-- ELSE -->{indexBlogName}<!-- END_IF -->一覧を見る</a></p>

  </div>
</section><!-- END_MODULE Entry_Summary -->
