<!-- BEGIN_MODULE Entry_Summary id="{{module_id}}" -->
<div class="not-editor-style">
  @include("/include/edit/module-custom-box2.html")
  <ul class="card-list acms-cssgrid entry-reset<!-- BEGIN_IF [{parent.loop.class}/nem] --> {parent.loop.class}<!-- ELSE --> acms-g-cols-1 acms-g-cols-sm-2<!-- END_IF -->" style="margin-block: var(--card-bg-space);">
    <!-- BEGIN unit:loop -->
    <!-- BEGIN entry:loop -->
    <li class="card-item">
      <div class="card is-lg">
        <a href="{url}" class="card-link">
          <div class="card-link-inner">
            <div class="card-img-wrap">
              <!-- BEGIN_IF [{thumbnail-image@path}/nem] -->
              <img
                src="%{MEDIA_ARCHIVES_DIR}{thumbnail-image@path}[resizeImg(580,345)]"
                width="580"
                height="345"
                alt="{thumbnail-image@alt}"
                class="acms-img-responsive card-img"
                loading="lazy"
                decoding="async"
              >
              <!--  ELSE_IF [{path}/nem] -->
              <img
                src="%{ROOT_DIR}{path}[resizeImg(580,345)]"
                width="580"
                height="345"
                alt="{alt}"
                class="acms-img-responsive card-img"
                loading="lazy"
                decoding="async"
              >
              <!-- END_IF -->
            </div>
            <div class="card-text-wrap">
              <h3 class="card-title">{title}</h3>
              <p class="card-text">{page-description}</p>
              <div>
                <p class="card-read-more">詳しく見る <span class="icon-button">@include("/images/icon-button.svg")</span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </li><!-- END entry:loop -->
    <!-- END unit:loop -->
  </ul>
</div>
<!-- END_MODULE Entry_Summary -->
