@use "../global/acms-common" as acms;
@use "../global/common" as global;

/* ------------------------------
 グループ・ユニット
------------------------------ */
.#{acms.$entry-class} {
  /* 全てのグループ・ユニット */
  [class*="gu-"] {
    @include acms.media-breakpoint-up(md) {
      .pricing-group {
        margin-right: 0;
        margin-left: 0;
        padding: 4rem 0 2rem;
      }
    }

    >  h2,
    >  h3,
    >  h4 {
      padding-top: 0;
    }
  }

  .gu-bg-gray {
    background: var(--color-gray10);
  }

  .gu-bg-primary {
    background: var(--color-primary-light);
  }

  .gu-bg-gray,
  .gu-bg-primary {
    margin: 0 0 var(--entry-el-margin-md) 0;
    padding: var(--entry-el-padding-md) calc(var(--entry-el-padding-md) - (var(--unit-gutter-var) / 2));

    > *:not(.entry-reset):last-child {
      margin-bottom: 0;
    }
  }

  .gu-cover > [class*="gu-"] {
    margin: var(--entry-el-margin-md) calc(50% - 50vw);
    padding: var(--entry-el-padding-md) calc(50vw - 50% + (var(--unit-gutter-var) / 2));
    border: 0;

    @include acms.media-breakpoint-up(lg) {
      .pricing-group {
        padding: 0;
      }
    }
  }

  .gu-border {
    position: relative;
    margin: 0 0 var(--entry-el-margin-md) 0;
    padding: var(--entry-el-padding-md) calc(var(--entry-el-padding-md) - (var(--unit-gutter-var) / 2));

    &::before {
      position: absolute;
      inset: 0;
      z-index: -1;
      border: var(--border-width-sm) solid var(--color-gray40);
      content: "";
    }

    > *:not(.entry-reset):last-child {
      margin-bottom: 0;
    }
  }

  .gu-narrow {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  @include acms.media-breakpoint-up(md) {
    .gu-bg-gray,
    .gu-bg-primary,
    .gu-border {
      margin: 0 0 var(--entry-el-margin-md) 0;
      padding: var(--entry-el-padding-md) calc(var(--entry-el-padding-md) - (var(--unit-gutter-var) / 2));

      > *:not(.entry-reset):last-child {
        margin-bottom: 0;
      }
    }

    .gu-cover > [class*="gu-"] {
      position: relative;
      top: var(--entry-el-margin-md);
      margin: calc(var(--entry-el-margin-md) * 2) calc(50% - 50vw);
      padding: calc(var(--entry-el-margin-md) * 3) calc(50vw - 50% + (var(--unit-gutter-var) / 2)) calc(var(--entry-el-margin-md) * 2);
    }
  }
}
