<!DOCTYPE html>
<html class="no-js" lang="ja">
<head>
  @section("head-meta")
  @include("/include/head/meta.html")
  @endsection

  @section("head-link")
  @include("/include/head/link.html")
  @endsection

  @section("head-js")
  @include("/include/head/js.html")
  @endsection
</head>
<body>
@section("body-start")
@include("/include/body-start.html")
@endsection

<div class="page-wrapper">
@section("header")
<!-- ヘッダー -->
@include("/include/global/header.html")
@endsection

@section("page-title")
<!-- ページタイトル -->
@include("/include/global/page-title.html")
@endsection


@section("admin-part")
<!-- ※管理用パーツ -->
<!-- BEGIN_MODULE Touch_SessionWithContribution -->
<div class="acms-container">
  @include("/admin/action.html")
</div>
<!-- END_MODULE Touch_SessionWithContribution -->
@endsection

<div class="acms-container">
  <div class="acms-grid">
    <div class="acms-col-md-8">
      <main>
        @section("main")
        <p>継承してメインコンテンツを設定してください</p>
        @endsection
      </main>
    </div>

    <div class="acms-col-md-4">
      @section("side")
      @endsection
    </div>
  </div>
</div>

@section("check-seo")
<!-- BEGIN_MODULE Touch_Login -->
<!-- 確認用テンプレート -->
<div class="acms-margin-top-large">
@include("/include/check-seo.html")
</div><!-- END_MODULE Touch_Login -->
@endsection

@section("footer-cta")
<!-- Call to Action -->
@include("/include/parts/cta.html", {
  "module_id": "MF_cta"
})
@endsection

@section("topicpath")
<!-- トピックパス -->
@include("/include/global/topicpath.html")
@endsection

@section("footer")
<!-- フッター -->
@include("/include/global/footer.html")
@endsection
</div>

@section("body-end")
@include("/include/body-end.html")
@endsection
</body>
</html>
