@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　バッジ
------------------------------ */

.badge {
  display: inline-block;
  padding: .25rem .5rem;
  color: global.$color-text-side;
  background: global.$color-gray30;
  border-radius: global.$border-radius-sm;
}
