@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　バナー
------------------------------ */
.banner-list {
  padding: 0;
  list-style: none;

  .js .js-animation & {
    opacity: 0;
    will-change: transform, opacity;
  }

  .js .js-animation.is-show & {
    animation: fade-in 0.4s 0.5s 1 both;
  }
}

.banner-item {
  margin: 0 0 1rem;
}

.banner-link {
  display: block;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }
}

.banner-img {
  display: block;
  width: 100%;
  border: global.$border-width-sm solid global.$color-gray40;
  border-radius: global.$border-radius-lg;
}
