@use "sass:math";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　ベース
------------------------------ */
html {
  color: global.$color-text;
  font-family: global.$font-base;
  line-height: 1.7;
  background: global.$color-white;
}

body {
  @include acms.font-size(16);

  /* calc(50% - 50vw)使用時に
   EdgeとIE11で発生する横スクロール防止
   （メッセージユニット・全幅ユニット）*/
  overflow-x: hidden;
}

/* 游ゴシック体使用時にIE11で文字がうわずってしまう問題に対応 */
_:lang(x)::-ms-backdrop, body {
  font-family: "Segoe UI", Meiryo, sans-serif;
}


/* リンクの設定 */
a {
  color: global.$color-link;
  text-decoration: none;
  border: none;

  &[href*="tel"] {
    color: currentColor;
    border-bottom: global.$border-width-sm dashed;

    &:hover {
      text-decoration: none;
    }
  }
}

a:visited {
  color: global.$color-link;
  text-decoration: none;
}

a:active {
  color: global.$color-link;
  text-decoration: none;
}

a:hover {
  color: global.$color-link;
  text-decoration: underline;
}

/* コンテナー */
.acms-container {
  --gutter: var(--gutter-md);

  max-width: global.$container;
  padding-right: calc(global.$unit-gutter-var / 2);
  padding-left: calc(global.$unit-gutter-var / 2);
  @if (global.$enable-iphonex == true) {
    padding-right: calc(env(safe-area-inset-right) + (global.$unit-gutter-var / 2));
    padding-left: calc(env(safe-area-inset-left) + (global.$unit-gutter-var / 2));
  }

  .acms-container {
    padding: 0;
  }
}

.container-md {
  --gutter: var(--gutter-md);

  box-sizing: border-box;
  max-width: global.$container-md;
  margin: 0 auto;
  padding-right: calc(global.$unit-gutter-var / 2);
  padding-left: calc(global.$unit-gutter-var / 2);
  @if (global.$enable-iphonex == true) {
    padding-right: calc(env(safe-area-inset-right) + (global.$unit-gutter-var / 2));
    padding-left: calc(env(safe-area-inset-left) + (global.$unit-gutter-var / 2));
  }
}


.container-sm {
  --gutter: var(--gutter-sm);

  box-sizing: border-box;
  max-width: global.$container-sm;
  margin: 0 auto;
  padding-right: calc((global.$unit-gutter-var / 2));
  padding-left: calc((global.$unit-gutter-var / 2));
  @if (global.$enable-iphonex == true) {
    padding-right: calc(env(safe-area-inset-right) + (global.$unit-gutter-var / 2) );
    padding-left: calc(env(safe-area-inset-left) + (global.$unit-gutter-var / 2));
  }
}


/* グリッド */
.acms-grid {
  margin: 0 calc(global.$unit-gutter-var / -2);
}


/* 固定コンテンツ */
.sticky-contents {
  position: fixed;
  bottom: 0;
  z-index: global.$zindex-fixed-contents;
  display: none;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0;
  transform: translateY(40px);
  opacity: 0;
  transition: opacity .3s, transform 0.2s;

  &.is-centered {
    text-align: center;
  }

  &.is-show {
    transform: translateY(0);
    opacity: 1;
  }

  &.is-active {
    display: block;
  }
}
