@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　ボタン
------------------------------ */
.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.75rem 2.25rem;
  color: global.$color-text-inverse;
  font-weight: bold;
  text-align: center;
  background: global.$color-primary;
  border: 0;
  border-radius: global.$border-radius-md;
  transition: background-color 0.2s;

  @include acms.font-size(18);

  &:any-link {
    color: global.$color-text-inverse;
    text-decoration: none;
  }

  &:hover {
    background: global.$color-primary-hover;
  }

  &.is-lg {
    display: inline-block;
    margin: 0 auto;
    padding: 1rem 2.25rem;
  }

  &.is-block {
    width: 100%;
  }

  &.is-xl {
    width: 18rem;
    max-width: 100%;
  }

  &.is-width-lg {
    width: 18rem;
    max-width: 100%;
  }

  &.is-shadow {
    box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
  }

  &.is-shadow-light {
    box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
  }

  &.is-inverse {
    color: global.$color-text;
    background: global.$color-white;

    &:any-link {
      color: global.$color-text;
    }

    &:hover {
      background: global.$color-gray10;
    }
  }

  &.is-bordered {
    color: global.$color-text;
    background: transparent;
    border: global.$border-width-sm solid global.$color-gray40;

    &:any-link {
      color: global.$color-text;
    }

    &:hover {
      background: global.$color-gray20;
    }
  }

  &.is-rounded {
    border-radius: global.$border-radius-round;
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    &.is-xl {
      min-width: 22rem;
      padding: 1rem;

      @include acms.font-size(24);
    }
  }
}
