@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　ヘッダー
------------------------------ */
.header-wrap {
  height: global.$header-height;
}

.header {
  position: relative;
  z-index: global.$zindex-header;
  display: flex;
  align-items: center;
  width: 100%;
  height: global.$header-height;
  background: global.$color-white;
  box-shadow: global.$elevation04;
}

.header-item-title {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}

.header-title {
  display: flex;
  align-items: center;
  margin: 0;
  line-height: 1;
}

.header-title-link {
  display: flex;
}

.header-logo {
  display: block;
  max-width: 100%;
  max-height: 2rem;
}

.header-item-nav {
  position: relative;
  height: 100%;
  margin-left: auto;
  font-size: map.get(global.$font-scales, body-m);
}

@media (max-width: acms.$breakpoint-lg-max) {
  .header {
    position: fixed;
    box-sizing: border-box;
    max-width: 100%;
    height: global.$header-height-fixed;
    padding: 0 3.5rem 0 0;
  }

  .header-wrap {
    height: global.$header-height-fixed;
  }

  .header-item-nav {
    display: none;
  }
}
