@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　ヘッダー
------------------------------ */
.header-wrap {
  height: global.$header-height;
}

.header {
  position: relative;
  z-index: global.$zindex-header;
  display: flex;
  align-items: center;
  width: 100%;
  height: global.$header-height;
  background: global.$color-white;
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}

.header-item-title {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}

.header-title {
  display: flex;
  align-items: center;
  margin: 0;
}

.header-item-nav {
  position: relative;
  height: 100%;
  margin-left: auto;
  font-size: map.get(global.$font-scales, body-m);
}

@media (max-width: acms.$breakpoint-lg-max) {
  .header {
    position: fixed;
    height: global.$header-height-fixed;
  }

  .header-wrap {
    height: global.$header-height-fixed;
  }
}
