@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　メインビジュアル
------------------------------ */

.main-visual {
  position: relative;
  overflow: hidden;
}

.main-visual-bg {
  width: 100%;
  height: calc(100vh - 200px);
  min-height: 20rem;
  background: no-repeat center;
  background-size: cover;
  animation: zoom 3s 0.3s 1 both;
  animation-duration: ease-out;
}

.main-visual-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  color: global.$color-text-inverse;
  text-align: center;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: rgb(0 0 0 / 30%);
    content: "";
  }
}

.main-visual-catch {
  margin: 0 0 0.5rem;
  font-size: map.get(global.$font-scales, display-s);
  line-height: global.$line-height-sm;
  animation: fade-in 0.3s 0.8s 1 both;
  will-change: transform, opacity;
}

.main-visual-catch-sub {
  margin: 0;
  font-size: map.get(global.$font-scales, body-s);
  line-height: global.$line-height-lg;
  animation: fade-in 0.3s 1.3s 1 both;
  will-change: transform, opacity;
}

.main-visual-scroll {
  position: absolute;
  bottom: 2rem;
  margin: 0;
  animation: fade-in 0.3s 2.8s 1 both;
  will-change: transform, opacity;
}

.main-visual-scroll-link {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:link,
  &:visited,
  &:active,
  &:focus {
    color: currentcolor;
  }

  &:hover {
    text-decoration: none;
    opacity: 0.6;
  }

  &::after {
    display: inline-block;
    width: 0.5rem;
    height: 1rem;
    margin: 0.25rem 0 0;
    background-image: url(#{global.$root-theme-img + 'arrow-border-white.svg' });
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(90deg);
    content: "";
  }
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .main-visual-bg {
    height: 70vh;
  }

  .main-visual-box {
    padding: 3rem 4.5rem;
  }

  .main-visual-catch {
    font-size: map.get(global.$font-scales, display-m);
  }

  .main-visual-catch-sub {
    font-size: map.get(global.$font-scales, heading-ss);
  }
}
