@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　404ページ
------------------------------ */
.not-found-content {
  margin: 0 0 4rem;
  text-align: center;
}

.not-found-title {
  margin: 0 0 0.5rem;
  color: global.$color-primary;
  font-weight: bold;

  @include acms.font-size(100);

  line-height: 1.2;
}

.not-found-paragraph {
  margin: 0 0 2.5rem;
  font-weight: bold;

  @include acms.font-size(20);
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .not-found-content {
    margin: 0 0 7.5rem;
  }

  .not-found-title {
    @include acms.font-size(240);
  }

  .not-found-paragraph {
    margin: 0 0 2.5rem;

    @include acms.font-size(22);
  }
}
