@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　組み込みJSの上書き
------------------------------ */

/* モーダルビデオ
------------------------------ */
.modal-video-body {
  padding: 0 0.5rem;
}

.modal-video-close-btn {
  top: -3rem !important;
  right: 0 !important;
}
