@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　プロフィール
------------------------------ */
.profile {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 2.5rem;
  padding: 1.5rem;
  border: global.$border-width-md solid global.$color-gray20;
}

.profile-body {
  display: flex;
}

.profile-item-img {
  padding: 0 1.25rem 0 0;
}

.profile-img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

.profile-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-position {
  margin: 0 0 0.5rem;

  @include acms.font-size(14);

  line-height: 1.3;
}

.profile-name {
  margin: 0;
  font-weight: bold;

  @include acms.font-size(16);

  line-height: 1.3;
}

.profile-text {
  margin: 0;

  @include acms.font-size(14);

  line-height: 1.7;
}

.profile-footer {
  margin: 1.5rem 0 0;
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .profile {
    margin: 0 0 4rem;
    padding: 2.5rem 50px;
  }

  .profile-item-img {
    padding: 0 2.5rem 0 0;
  }

  .profile-img {
    width: 5.5rem;
    height: 5.5rem;
  }

  .profile-name {
    margin: 0 0 1rem;

    @include acms.font-size(18);
  }
}
