@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　プロフィール
------------------------------ */
.profile {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 2.5rem;
  padding: 1.5rem;
  border: global.$border-width-md solid global.$color-gray20;
}

.profile-body {
  display: flex;
}

.profile-item-img {
  padding: 0 1.25rem 0 0;
}

.profile-img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

.profile-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-position {
  margin: 0 0 0.5rem;
  font-size: map.get(global.$font-scales, body-s);
  line-height: global.$line-height-sm;
}

.profile-name {
  margin: 0;
  font-weight: bold;
  font-size: map.get(global.$font-scales, body-m);
  line-height: global.$line-height-sm;
}

.profile-text {
  margin: 0;
  font-size: map.get(global.$font-scales, body-s);
  line-height: global.$line-height-lg;
}

.profile-footer {
  margin: 1.5rem 0 0;
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .profile {
    margin: 0 0 4rem;
    padding: 2.5rem 50px;
  }

  .profile-item-img {
    padding: 0 2.5rem 0 0;
  }

  .profile-img {
    width: 5.5rem;
    height: 5.5rem;
  }

  .profile-name {
    margin: 0 0 1rem;
    font-size: map.get(global.$font-scales, body-m);
  }
}
