@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　タグ
------------------------------ */

.tag-wrapper {
  margin: 0.5rem 0;
}

.tag-box {
  padding: 1rem 0.5rem 0.25rem;
  background: global.$color-gray20;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.25rem;
  padding: 0;
  list-style: none;
}

.tag-item {
  margin: 0 0.25rem 0.5rem;

  @include acms.font-size(18);

  color: global.$color-text-side;
  font-weight: bold;

  .tag-list.is-sm & {
    @include acms.font-size(14);
  }
}

.tag-link {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  color: global.$color-text;
  font-weight: bold;
  background: global.$color-white;
  border: global.$border-width-sm solid global.$color-gray40;
  border-radius: 10em;

  &:link:hover {
    color: global.$color-text;
    text-decoration: none;
    background: global.$color-gray20;
  }

  &:visited,
  &:active,
  &:focus {
    color: global.$color-text;
  }
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .tag-wrapper {
    margin: 2.5rem 0;
  }

  .tag-box {
    padding: 2rem 2rem 1.25rem;
  }

  .tag-list {
    flex-direction: row;
    margin: 0 -0.5rem;

    &.is-sm {
      margin: 0 -0.25rem;
    }
  }

  .tag-item {
    @include acms.font-size(18);

    .tag-list.is-sm & {
      margin: 0 0.25rem 0.25rem;

      @include acms.font-size(14);
    }
  }

  .tag-link {
    padding: 0.5rem 1rem;
  }
}
