@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　タイポグラフィ
------------------------------ */
.heading-lg {
  margin: -40px 0 global.$entry-el-margin-sm 0;// アンカーリンクのための余白を打ち消す用
  padding-top: (global.$header-height + 0.5rem);
  line-height: 1.4;

  @include acms.font-size(26);

  &.heading-line {
    padding-bottom: 15px;
    border-bottom: global.$border-width-md solid global.$color-gray100;
  }

  &.heading-primary {
    position: relative;
    margin-bottom: global.$entry-el-margin-lg;

    &::before {
      position: absolute;
      bottom: -20px;
      left: 0;
      display: block;
      width: 60px;
      height: global.$border-width-lg;
      background: global.$color-primary;
      content: "";
    }
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    margin-top: -20px; // アンカーリンクのための余白を打ち消す用
    margin-bottom: global.$entry-el-margin-sm;
    padding-top: 60px;

    @include acms.font-size(32);

    &.heading-primary {
      margin-bottom: global.$entry-el-margin-xl;

      &::before {
        bottom: -25px;
      }
    }
  }
}

.heading-md {
  margin: 40px 0 global.$entry-el-margin-sm 0;

  @include acms.font-size(22);

  line-height: 1.4;

  &.heading-line {
    padding-bottom: 15px;
    border-bottom: global.$border-width-md solid global.$color-gray100;
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    margin: 60px 0 global.$entry-el-margin-md 0;

    @include acms.font-size(28);

    &.heading-line {
      margin: 60px 0 global.$entry-el-margin-sm 0;
    }
  }
}

.heading-sm {
  margin: 50px 0 global.$entry-el-margin-sm 0;

  @include acms.font-size(18);

  &.heading-line {
    padding-bottom: 12px;
    border-bottom: global.$border-width-md solid global.$color-gray100;
  }

  @media screen and (min-width: acms.$breakpoint-md-min) {
    margin: 60px 0 global.$entry-el-margin-sm 0;

    @include acms.font-size(22);
  }
}

.heading-lg,
.heading-md,
.heading-sm {
  &.heading-margin-top-none {
    margin-top: 0;
  }
}

.paragraph {
  margin: 0 0 global.$entry-el-margin-md 0;
  line-height: 1.7;

  @media screen and (min-width: acms.$breakpoint-md-min) {
    margin: 0 0 global.$entry-el-margin-lg 0;
  }

  a {
    @include global.entry-link(global.$color-link, global.$border-link);
  }
}

.text-word-break {
  display: inline-block;
}

.unordered-list {
  margin: 0 0 global.$entry-el-margin-md 0;
  padding: 0 0 0 40px;

  li {
    position: relative;
    clear: both;
    margin: 0 0 10px;
    line-height: 1.5;
    list-style: none;

    &::before {
      position: absolute;
      top: 8px;
      left: -20px;
      width: 6px;
      height: 6px;
      background: global.$color-secondary;
      border-radius: 50%;
      content: "";
    }
  }
}
