@use "../variables" as var;

// リンク
@mixin entry-link($color, $border) {
  padding: 2px 0;
  color: $color;
  text-decoration: none;

  &:not(:has(img)) {
    border-bottom: 1px dotted $border;
  }

  &:hover {
    text-decoration: none;
    border-color: transparent;
  }


}

